.february-2024-blog-recentArticalDetailMain {
  flex: 1;
  position: relative;
  line-height: 130%;
}
.frame-item-blog-recentArticalDetailMain {
  width: 0.188rem;
  height: 0.188rem;
  position: relative;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.ellipse-wrapper-blog-recentArticalDetailMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.625rem 0 0;
}
.success-stories-blog-recentArticalDetailMain {
  flex: 1;
  position: relative;
  line-height: 130%;
}
.february-2024-parent-blog-recentArticalDetailMain{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.february-2024-parent-blog-recentArticalDetailMain {
  width: 20rem;
  justify-content: flex-start;
  gap: 0.75rem;
}
.from-0-to-blog-recentArticalDetailMain {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.it-can-be-blog-recentArticalDetailMain {
  width: 47.563rem;
  position: relative;
  line-height: 160%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.it-can-be-a-challenge-to-maint-wrapper-blog-recentArticalDetailMain {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25rem 0 1.312rem;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1.125rem;
  color: #7f879e;
  font-family: "Plus Jakarta Sans";
}
.from-0-to-40-million-how-a-parent-blog-recentArticalDetailMain {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.375rem;
  max-width: 100%;
  font-size: 3rem;
  color: #1b2124;
}
.frame-container-blog-recentArticalDetailMain,
.website-info-inner-blog-recentArticalDetailMain {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.website-info-inner-blog-recentArticalDetailMain {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25rem 0.5rem;
  box-sizing: border-box;
}
.frame-inner-blog-recentArticalDetailMain {
  height: 41.25rem;
  flex: 1;
  position: relative;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.website-info-child-blog-recentArticalDetailMain {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.5rem;
  box-sizing: border-box;
  max-width: 100%;
}
.from-0-to1-blog-recentArticalDetailMain {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 2.625rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.blank-line-blog-recentArticalDetailMain,
.blank-line1-blog-recentArticalDetailMain,
.taking-down-this-blog-recentArticalDetailMain {
  margin: 0;
}
.the-journey-was-one-of-bootstr-blog-recentArticalDetailMain {
  margin: 0;
}
.taking-down-this-container-blog-recentArticalDetailMain {
  width: 59.125rem;
  position: relative;
  font-size: 1.125rem;
  line-height: 160%;
  color: #7f879e;
  display: inline-block;
  max-height: 16.313rem;
  word-break: break-word;
}
.frame-div-blog-recentArticalDetailMain,
.from-0-to-40-million-in-asse-parent-blog-recentArticalDetailMain {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.from-0-to-40-million-in-asse-parent-blog-recentArticalDetailMain {
  width: 59.125rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
.article-listings-blog-recentArticalDetailMain,
.website-info-blog-recentArticalDetailMain {
  justify-content: flex-start;
  max-width: 100%;
}
.article-listings-blog-recentArticalDetailMain {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.812rem;
  grid-template-columns: repeat(3, minmax(295px, 1fr));
}
.website-info-blog-recentArticalDetailMain {
  width: 77.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.625rem;
  text-align: center;
  font-size: 1.125rem;
  color: #7f879e;
  font-family: Sora;
}
.main-navigation-blog-recentArticalDetailMain {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
  max-width: 100%;
}
.blog-recently-articles-det-blog-recentArticalDetailMain {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.25rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .article-listings-blog-recentArticalDetailMain {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(295px, 512px));
  }
}
@media screen and (max-width: 750px) {
  .from-0-to-blog-recentArticalDetailMain {
    font-size: 2.375rem;
    line-height: 3.125rem;
  }
  .from-0-to1-blog-recentArticalDetailMain {
    font-size: 1.625rem;
    line-height: 2.063rem;
  }
  .article-listings-blog-recentArticalDetailMain {
    grid-template-columns: minmax(295px, 1fr);
  }
  .website-info-blog-recentArticalDetailMain {
    gap: 1.313rem;
  }
  .blog-recently-articles-det-blog-recentArticalDetailMain {
    gap: 3.125rem;
  }
}
@media screen and (max-width: 450px) {
  .from-0-to-blog-recentArticalDetailMain {
    font-size: 1.813rem;
    line-height: 2.313rem;
  }
  .from-0-to1-blog-recentArticalDetailMain {
    font-size: 1.188rem;
    line-height: 1.563rem;
  }
  .blog-recently-articles-det-blog-recentArticalDetailMain {
    gap: 1.563rem;
  }
}
