.group-child61-membershipMain-screen,
.group-child62-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f6fe;
  width: 99.75rem;
  height: 92.5rem;
}
.group-child62-membershipMain-screen {
  box-shadow: 0-1px 11.3px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  width: 93.25rem;
  height: 64.563rem;
}
.edit-your-membership3-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 46.625rem;
  height: 5.063rem;
}
.make-changes-to3-membershipMain-screen {
  position: absolute;
  top: 5.563rem;
  left: 1.063rem;
  font-size: 1.688rem;
  color: #afafaf;
  text-align: left;
  display: flex;
  align-items: center;
  width: 73.25rem;
  height: 2.063rem;
}
.edit-your-membership-parent1-membershipMain-screen,
.group-child63-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 74.313rem;
  height: 7.625rem;
}
.group-child63-membershipMain-screen {
  box-shadow: -1px 1px 8.5px -1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  width: 35.763rem;
  height: 6.119rem;
}
.preview-membership-page3-membershipMain-screen {
  position: absolute;
  top: 0.306rem;
  left: 4.631rem;
  line-height: 130%;
  display: inline-block;
  width: 27.788rem;
  height: 3.794rem;
  cursor: pointer;
}
.fi-2356572-icon3-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.238rem;
  height: 3.181rem;
  overflow: hidden;
}
.preview-membership-page-container-membershipMain-screen {
  position: absolute;
  top: 1.25rem;
  left: 1.906rem;
  width: 32.419rem;
  height: 4.1rem;
}
.rectangle-parent107-membershipMain-screen {
  left: 0;
  width: 35.763rem;
}
.group-child64-membershipMain-screen,
.group-wrapper14-membershipMain-screen,
.rectangle-parent107-membershipMain-screen {
  position: absolute;
  top: 0;
  height: 6.119rem;
}
.group-wrapper14-membershipMain-screen {
  left: 48.031rem;
  width: 35.763rem;
}
.group-wrapper14-membershipMain-screen:hover{
  background-color: #b7e08a;
}
.group-child64-membershipMain-screen {
  left: 0;
  box-shadow: -1px 1px 8.5px -1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 29.344rem;
}
.new-add-membership1-membershipMain-screen {
  position: absolute;
  top: 0.1rem;
  left: 3.463rem;
  line-height: 130%;
  display: inline-block;
  width: 24.063rem;
  height: 3.438rem;
  cursor: pointer;
}
.vector-icon18-membershipMain-screen {
  position: absolute;
  height: 76.15%;
  width: 10.08%;
  top: 0;
  right: 89.92%;
  bottom: 23.85%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.new-add-membership-group-membershipMain-screen {
  position: absolute;
  top: 1.588rem;
  left: 1.413rem;
  width: 27.525rem;
  height: 3.538rem;
}
.rectangle-parent108-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.344rem;
  height: 6.119rem;
}
.rectangle-parent108-membershipMain-screen:hover{
  background-color: #b7e08a;
}
.group-parent44-membershipMain-screen {
  position: absolute;
  top: 53.688rem;
  left: 0.875rem;
  width: 83.794rem;
  height: 6.119rem;
  font-size: 2.063rem;
}
.group-child65-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 3px 4px 23.2px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  background-color: #fff;
  width: 84rem;
  height: 41.063rem;
}
.vat-and-local6-membershipMain-screen {
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.group-wrapper17-membershipMain-screen,
.vat-and-local-taxes-may-apply-wrapper3-membershipMain-screen,
.vat-and-local6-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.063rem;
  height: 1.188rem;
}
.group-wrapper16-membershipMain-screen {
  position: absolute;
  top: 6.375rem;
  left: 2.563rem;
  width: 18.063rem;
  height: 1.188rem;
}
.silver-parent-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 47.5rem;
  width: 21.438rem;
  height: 37.438rem;
}
.gold-group-membershipMain-screen,
.group-wrapper15-membershipMain-screen {
  position: absolute;
  top: 0;
  width: 68.938rem;
  height: 37.438rem;
}
.gold-group-membershipMain-screen {
  left: 0;
}
.group-wrapper15-membershipMain-screen {
  left: 5.625rem;
}
.fi-3661482-icon1-membershipMain-screen,
.fi-3661484-icon1-membershipMain-screen {
  position: absolute;
  top: 15.563rem;
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
}
.fi-3661484-icon1-membershipMain-screen {
  left: 0;
}
.fi-3661482-icon1-membershipMain-screen {
  left: 76.875rem;
}
.group-parent45-membershipMain-screen {
  position: absolute;
  top: 1.875rem;
  left: 1.938rem;
  width: 80rem;
  height: 37.438rem;
}
.rectangle-parent109-membershipMain-screen {
  position: absolute;
  top: 10.125rem;
  left: 0.813rem;
  width: 84rem;
  height: 41.063rem;
  text-align: left;
  font-size: 1.125rem;
  color: #fff;
}
.group-parent43-membershipMain-screen {
  position: absolute;
  top: 2.188rem;
  left: 4rem;
  width: 84.813rem;
  height: 59.806rem;
}
.group-wrapper13-membershipMain-screen,
.rectangle-parent106-membershipMain-screen {
  position: absolute;
  left: 0;
  width: 93.25rem;
  height: 64.563rem;
}
.rectangle-parent106-membershipMain-screen {
  top: 0;
}
.group-wrapper13-membershipMain-screen {
  top: 19.25rem;
}
.group-child66-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0-1px 11.3px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  width: 42.869rem;
  height: 14.313rem;
}
.layer-3-icon2-membershipMain-screen {
  position: absolute;
  height: 12.1%;
  width: 7.11%;
  top: 5.11%;
  right: 2.62%;
  bottom: 82.79%;
  left: 90.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.active-members2-membershipMain-screen {
  top: 2.45rem;
  left: 1.681rem;
  font-weight: 300;
  width: 12.838rem;
  height: 1.406rem;
}
.active-members2-membershipMain-screen,
.div46-membershipMain-screen,
.view-all-members4-membershipMain-screen {
  position: absolute;
  display: inline-block;
}
.div46-membershipMain-screen {
  top: 5.569rem;
  left: 2.119rem;
  font-size: 2.188rem;
  text-align: left;
  width: 1.494rem;
  height: 1.713rem;
}
.view-all-members4-membershipMain-screen {
  top: 0;
  left: 0;
  font-weight: 300;
  width: 14.644rem;
  height: 1.406rem;
}
.group-child67-membershipMain-screen {
  position: absolute;
  left: 16.325rem;
  max-height: 100%;
  width: 2.681rem;
}
.view-all-members-parent2-membershipMain-screen {
  position: absolute;
  top: 10.031rem;
  left: 1.681rem;
  width: 19rem;
  height: 1.406rem;
  font-size: 1.563rem;
}
.group-child68-membershipMain-screen,
.rectangle-parent110-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.869rem;
  height: 14.313rem;
}
.group-child68-membershipMain-screen {
  box-shadow: 0-1px 11.3px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
}
.membership-revenue4-membershipMain-screen {
  top: 2.45rem;
  left: 1.619rem;
  font-weight: 300;
  width: 15.7rem;
  height: 1.406rem;
}
.div47-membershipMain-screen,
.membership-revenue4-membershipMain-screen,
.view-all-members5-membershipMain-screen {
  position: absolute;
  display: inline-block;
}
.div47-membershipMain-screen {
  top: 5.569rem;
  left: 1.931rem;
  font-size: 2.188rem;
  text-align: left;
  width: 1.494rem;
  height: 1.713rem;
}
.view-all-members5-membershipMain-screen {
  top: 0;
  left: 0;
  font-weight: 300;
  width: 14.644rem;
  height: 1.406rem;
}
.group-child69-membershipMain-screen {
  position: absolute;
  left: 16.075rem;
  max-height: 100%;
  width: 2.681rem;
}
.view-all-members-parent3-membershipMain-screen {
  position: absolute;
  top: 10.031rem;
  left: 1.556rem;
  width: 18.756rem;
  height: 1.406rem;
  font-size: 1.563rem;
}
.fi-10164350-icon2-membershipMain-screen {
  position: absolute;
  top: 0.488rem;
  left: 39.688rem;
  width: 2.556rem;
  height: 1.713rem;
  overflow: hidden;
}
.rectangle-parent111-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 50.406rem;
  width: 42.869rem;
  height: 14.313rem;
}
.group-parent46-membershipMain-screen,
.group-wrapper18-membershipMain-screen,
.group-wrapper19-membershipMain-screen {
  position: absolute;
  top: 0;
  width: 93.269rem;
  height: 14.313rem;
}
.group-parent46-membershipMain-screen,
.group-wrapper19-membershipMain-screen {
  left: 0;
}
.group-wrapper18-membershipMain-screen {
  left: 0.3rem;
  font-size: 1.438rem;
}
.group-parent42-membershipMain-screen {
  position: absolute;
  top: 4.813rem;
  left: 3.25rem;
  width: 93.569rem;
  height: 83.813rem;
}
.rectangle-parent105-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.75rem;
  height: 92.5rem;
}
.group-parent41-membershipMain-screen {
  width: 100%;
  position: relative;
  height: 92.5rem;
  text-align: center;
  font-size: 4rem;
  color: #000;
  font-family: Sora;
}
/* free cart */
.free-child-membershipMain-screen,
.group-child10-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
}
.free-child-membershipMain-screen {
  border-radius: 17px;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  width: 21.438rem;
  height: 37.438rem;
}
.group-child10-membershipMain-screen {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 18px 18px;
  background-color: #000;
  width: 21.188rem;
  height: 17.356rem;
}
.free1-membershipMain-screen {
  font-weight: 600;
}
.free-3-container1-membershipMain-screen {
  width: 100%;
}
.free-3-container-membershipMain-screen,
.free3listing-membershipMain-screen {
  position: absolute;
  line-height: 130%;
}
.free-3-container-membershipMain-screen {
  top: 7.625rem;
  left: 0;
  display: flex;
  align-items: center;
  width: 11.688rem;
  height: 1.875rem;
}
.free3listing-membershipMain-screen {
  top: 10.625rem;
  left: 0.313rem;
  font-weight: 600;
  display: inline-block;
  width: 7.875rem;
  height: 1.063rem;
}
.free-1-icon-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 6.75rem;
  width: 4.313rem;
  height: 3.75rem;
  overflow: hidden;
}
.vat-and-local2-membershipMain-screen {
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
}
.group-wrapper5-membershipMain-screen,
.vat-and-local-taxes-may-apply-container-membershipMain-screen,
.vat-and-local2-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.188rem;
  height: 1.188rem;
}
.div3-membershipMain-screen,
.inner-membershipMain-screen {
  position: absolute;
}
.inner-membershipMain-screen {
  top: 5.063rem;
  left: 0.375rem;
  width: 18.188rem;
  height: 1.188rem;
  font-size: 1.125rem;
}
.div3-membershipMain-screen {
  top: 1rem;
  left: 1.938rem;
  width: 18.563rem;
  height: 11.688rem;
}
.fi-1828739-icon10-membershipMain-screen,
.rectangle-parent6-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 21.188rem;
  height: 17.356rem;
}
.fi-1828739-icon10-membershipMain-screen {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.days-plan-validity2-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 4.563rem;
  display: inline-block;
  width: 15.25rem;
  height: 1.063rem;
  color: #000;
}
.fi-2693507-icon2-membershipMain-screen {
  position: absolute;
  top: 0.063rem;
  left: 2.438rem;
  width: 1.25rem;
  height: 1rem;
  overflow: hidden;
}
.div4-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 19.813rem;
  height: 1.063rem;
}
.fi-1828739-icon11-membershipMain-screen,
.group-icon8-membershipMain-screen {
  position: absolute;
  overflow: hidden;
}
.fi-1828739-icon11-membershipMain-screen {
  top: 0.069rem;
  left: 0;
  width: 1rem;
  height: 1rem;
}
.group-icon8-membershipMain-screen {
  height: 97.29%;
  width: 6.5%;
  top: 0;
  right: 81.78%;
  bottom: 2.71%;
  left: 11.72%;
  max-width: 100%;
  max-height: 100%;
}
.top-slot-listing2-membershipMain-screen {
  position: absolute;
  top: 0.319rem;
  left: 4.5rem;
  display: inline-block;
  width: 15.5rem;
  height: 1.063rem;
  color: #000;
}
.fi-1828739-parent6-membershipMain-screen {
  position: absolute;
  top: 2.619rem;
  left: 0.063rem;
  width: 20rem;
  height: 1.381rem;
}
.fi-1828739-icon12-membershipMain-screen,
.group-icon9-membershipMain-screen {
  position: absolute;
  overflow: hidden;
}
.fi-1828739-icon12-membershipMain-screen {
  top: 0.019rem;
  left: 0;
  width: 1rem;
  height: 1rem;
}
.group-icon9-membershipMain-screen {
  height: 93.78%;
  width: 3.71%;
  top: 0;
  right: 82.59%;
  bottom: 6.22%;
  left: 13.71%;
  max-width: 100%;
  max-height: 100%;
}
.privacy-of-your2-membershipMain-screen {
  position: absolute;
  top: 0.144rem;
  left: 4.5rem;
  display: inline-block;
  width: 15.563rem;
  height: 1.063rem;
  color: #000;
}
.fi-1828739-icon13-membershipMain-screen,
.fi-1828739-parent7-membershipMain-screen {
  position: absolute;
  top: 5.544rem;
  left: 0;
  width: 20.063rem;
  height: 1.206rem;
}
.fi-1828739-icon13-membershipMain-screen {
  top: 0.188rem;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.group-icon10-membershipMain-screen {
  position: absolute;
  height: 96%;
  width: 6.92%;
  top: 0;
  right: 82%;
  bottom: 4%;
  left: 11.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.relationship-manager-super2-membershipMain-screen {
  position: absolute;
  top: 0.331rem;
  left: 4.531rem;
  display: inline-block;
  width: 15.781rem;
  height: 1.231rem;
  color: #000;
}
.fi-1828739-icon14-membershipMain-screen,
.fi-1828739-parent8-membershipMain-screen {
  position: absolute;
  top: 8.188rem;
  left: 0;
  width: 20.313rem;
  height: 1.563rem;
}
.fi-1828739-icon14-membershipMain-screen {
  top: 0.125rem;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.vector-icon3-membershipMain-screen {
  position: absolute;
  height: 100%;
  width: 5.31%;
  top: 0;
  right: 82.81%;
  bottom: 0;
  left: 11.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.personal-field-assistant2-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 4.438rem;
  display: inline-block;
  width: 15.563rem;
  height: 0.938rem;
  color: #000;
}
.container-membershipMain-screen,
.fi-1828739-parent9-membershipMain-screen {
  position: absolute;
  top: 11rem;
  left: 0.063rem;
  width: 20rem;
  height: 1.188rem;
}
.container-membershipMain-screen {
  top: 19rem;
  left: 0.688rem;
  width: 20.313rem;
  height: 12.188rem;
  font-size: 0.75rem;
}
.group-child11-membershipMain-screen {
  border-radius: 5px;
  background-color: #b7e08a;
}
.group-child11-membershipMain-screen,
.rectangle-wrapper3-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.25rem;
  height: 2.688rem;
}
.edit-membership2-membershipMain-screen {
  position: absolute;
  top: 0.688rem;
  left: 1.813rem;
  line-height: 130%;
  display: inline-block;
  width: 8.688rem;
  height: 1.063rem;
  color: #000;
}
.group-child12-membershipMain-screen,
.group-parent14-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.25rem;
  height: 2.688rem;
}
.group-child12-membershipMain-screen {
  border-radius: 5px;
  background-color: #d11a2a;
  width: 6.875rem;
  height: 2.625rem;
}
.delete2-membershipMain-screen {
  position: absolute;
  top: 0.875rem;
  left: 1.813rem;
  display: flex;
  align-items: center;
  width: 3.75rem;
  color: white;
  height: 0.938rem;
}
.rectangle-parent7-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 12.938rem;
  width: 6.875rem;
  height: 2.625rem;
}
.group-parent12-membershipMain-screen,
.group-parent13-membershipMain-screen {
  position: absolute;
  top: 32.875rem;
  left: 0.688rem;
  width: 19.813rem;
  height: 2.688rem;
}
.group-parent12-membershipMain-screen {
  top: 0.125rem;
  left: 0.125rem;
  width: 21.188rem;
  height: 35.563rem;
}
.free-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 21.438rem;
  height: 37.438rem;
  font-size: 1rem;
  color: #fff;
}

/* free over */
/* gold */
.fi-1828739-icon-membershipMain-screen,
.gold-child-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
}
.gold-child-membershipMain-screen {
  border-radius: 17px;
  width: 21.438rem;
  height: 37.438rem;
}
.fi-1828739-icon-membershipMain-screen {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.days-plan-validity-membershipMain-screen {
  left: 4.563rem;
  display: inline-block;
  width: 15.25rem;
  height: 1.063rem;
  color: #000;
}
.days-plan-validity-membershipMain-screen,
.div-membershipMain-screen,
.fi-2693507-icon-membershipMain-screen {
  position: absolute;
  top: 0;
}
.fi-2693507-icon-membershipMain-screen {
  left: 2.438rem;
  width: 1.25rem;
  height: 1rem;
  overflow: hidden;
}
.div-membershipMain-screen {
  left: 0;
  width: 19.813rem;
  height: 1.063rem;
}
.fi-1828739-icon1-membershipMain-screen,
.group-icon-membershipMain-screen {
  position: absolute;
  overflow: hidden;
}
.fi-1828739-icon1-membershipMain-screen {
  top: 0.069rem;
  left: 0;
  width: 1rem;
  height: 1rem;
}
.group-icon-membershipMain-screen {
  height: 97.29%;
  width: 6.58%;
  top: 0;
  right: 81.55%;
  bottom: 2.71%;
  left: 11.87%;
  max-width: 100%;
  max-height: 100%;
}
.top-slot-listing-membershipMain-screen {
  position: absolute;
  top: 0.319rem;
  left: 4.5rem;
  display: inline-block;
  width: 15.25rem;
  height: 1.063rem;
  color: #000;
}
.fi-1828739-parent-membershipMain-screen {
  position: absolute;
  top: 2.619rem;
  left: 0.063rem;
  width: 19.75rem;
  height: 1.381rem;
}
.fi-1828739-icon2-membershipMain-screen,
.group-icon1-membershipMain-screen {
  position: absolute;
  overflow: hidden;
}
.fi-1828739-icon2-membershipMain-screen {
  top: 0.019rem;
  left: 0;
  width: 1rem;
  height: 1rem;
}
.group-icon1-membershipMain-screen {
  height: 93.78%;
  width: 3.75%;
  top: 0;
  right: 82.37%;
  bottom: 6.22%;
  left: 13.88%;
  max-width: 100%;
  max-height: 100%;
}
.privacy-of-your-membershipMain-screen {
  position: absolute;
  top: 0.144rem;
  left: 4.5rem;
  display: inline-block;
  width: 15.313rem;
  height: 1.063rem;
  color: #000;
}
.fi-1828739-group-membershipMain-screen {
  position: absolute;
  top: 5.544rem;
  left: 0;
  width: 19.813rem;
  height: 1.206rem;
}
.fi-1828739-icon3-membershipMain-screen,
.group-icon2-membershipMain-screen {
  position: absolute;
  overflow: hidden;
}
.fi-1828739-icon3-membershipMain-screen {
  top: 0.188rem;
  left: 0;
  width: 1rem;
  height: 1rem;
}
.group-icon2-membershipMain-screen {
  height: 96%;
  width: 6.92%;
  top: 0;
  right: 82%;
  bottom: 4%;
  left: 11.08%;
  max-width: 100%;
  max-height: 100%;
}
.relationship-manager-super-membershipMain-screen {
  position: absolute;
  top: 0.331rem;
  left: 4.531rem;
  display: inline-block;
  width: 15.781rem;
  height: 1.231rem;
  color: #000;
}
.fi-1828739-container-membershipMain-screen {
  position: absolute;
  top: 8.188rem;
  left: 0;
  width: 20.313rem;
  height: 1.563rem;
}
.fi-1828739-icon4-membershipMain-screen,
.vector-icon1-membershipMain-screen {
  position: absolute;
  overflow: hidden;
}
.fi-1828739-icon4-membershipMain-screen {
  top: 0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
}
.vector-icon1-membershipMain-screen {
  height: 100%;
  width: 5.38%;
  top: 0;
  right: 82.59%;
  bottom: 0;
  left: 12.03%;
  max-width: 100%;
  max-height: 100%;
}
.personal-field-assistant-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 4.438rem;
  display: inline-block;
  width: 15.313rem;
  height: 0.938rem;
  color: #000;
}
.fi-1828739-parent1-membershipMain-screen {
  position: absolute;
  top: 11rem;
  left: 0.063rem;
  width: 19.75rem;
  height: 1.188rem;
}
.parent-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.313rem;
  height: 12.188rem;
}
.group-child1-membershipMain-screen {
  border-radius: 5px;
  background-color: #d11a2a;
}
.group-child1-membershipMain-screen,
.rectangle-wrapper-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.875rem;
  height: 2.625rem;
}
.delete-membershipMain-screen {
  position: absolute;
  top: 0.875rem;
  left: 1.813rem;
  display: flex;
  align-items: center;
  width: 3.75rem;
  color: white;
  height: 0.938rem;
}
.group-child2-membershipMain-screen,
.group-parent2-membershipMain-screen {
  position: absolute;
  top: 0;
  height: 2.625rem;
}
.group-parent2-membershipMain-screen {
  left: 12.875rem;
  width: 6.875rem;
}
.group-child2-membershipMain-screen {
  left: 0;
  border-radius: 5px;
  background-color: #b7e08a;
  width: 12.25rem;
}
.edit-membership-membershipMain-screen {
  position: absolute;
  top: 0.538rem;
  left: 1rem;
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 9.75rem;
  height: 1.625rem;
  color: #000;
}
.rectangle-parent2-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.25rem;
  height: 2.625rem;
}
.div1-membershipMain-screen,
.group-parent1-membershipMain-screen {
  position: absolute;
  top: 13.875rem;
  left: 0.063rem;
  width: 19.75rem;
  height: 2.625rem;
}
.group-parent1-membershipMain-screen {
  top: 19.125rem;
  left: 0.813rem;
  width: 20.313rem;
  height: 16.5rem;
}
.group-child3-membershipMain-screen {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 18px 18px;
  background-color: #000;
}
.group-child3-membershipMain-screen,
.group-child4-membershipMain-screen,
.rectangle-frame-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 21.188rem;
  height: 17.356rem;
}
.group-child4-membershipMain-screen {
  border-radius: 10px;
  background-color: #b7e08a;
  width: 5.438rem;
  height: 1.156rem;
}
.discont-membershipMain-screen {
  position: absolute;
  top: 0.075rem;
  left: 0.788rem;
  display: inline-block;
  width: 4.531rem;
  height: 0.794rem;
}
.rectangle-parent3-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 13.313rem;
  width: 5.438rem;
  height: 1.156rem;
}
.group-icon3-membershipMain-screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0.25rem;
  transform: scale(1.895);
}
.wrapper-group-membershipMain-screen {
  position: absolute;
  height: 15.98%;
  width: 17.96%;
  top: 0;
  right: 47.01%;
  bottom: 84.02%;
  left: 35.03%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inr-membershipMain-screen {
  font-weight: 600;
}
.inr-container1-membershipMain-screen {
  width: 100%;
}
.inr-container-membershipMain-screen,
.vat-and-local-membershipMain-screen {
  line-height: 130%;
  display: flex;
  align-items: center;
}
.inr-container-membershipMain-screen {
  position: absolute;
  top: 2.625rem;
  left: 0;
  width: 15.25rem;
  height: 1.563rem;
}
.vat-and-local-membershipMain-screen {
  font-weight: 600;
}
.group-wrapper3-membershipMain-screen,
.vat-and-local-membershipMain-screen,
.vat-and-local-taxes-may-apply-wrapper-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.063rem;
  height: 1.188rem;
}
.group-wrapper2-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0.313rem;
  width: 18.063rem;
  height: 1.188rem;
}
.billed-2450-membershipMain-screen {
  position: absolute;
  top: 5.5rem;
  left: 0.063rem;
  font-size: 1rem;
  line-height: 130%;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 10.75rem;
  height: 1.5rem;
}
.inr-25-listing-parent-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.375rem;
  height: 7rem;
}
.line-icon-membershipMain-screen {
  position: absolute;
  top: 5.938rem;
  left: 0.063rem;
  width: 3.563rem;
  height: 0.381rem;
  object-fit: contain;
}
.group-parent5-membershipMain-screen {
  position: absolute;
  top: 4.188rem;
  left: 0;
  width: 18.375rem;
  height: 7rem;
}
.wrapper-group-parent-membershipMain-screen {
  position: absolute;
  height: 87.66%;
  width: 98%;
  top: 12.34%;
  right: 2%;
  bottom: 0;
  left: 0;
}
.group-parent3-membershipMain-screen,
.group-parent4-membershipMain-screen {
  position: absolute;
  top: 0.425rem;
  left: 1.938rem;
  width: 18.75rem;
  height: 12.763rem;
}
.group-parent3-membershipMain-screen {
  top: 0.125rem;
  left: 0.125rem;
  width: 21.188rem;
  height: 17.356rem;
  font-size: 1.125rem;
  color: #fff;
}
.gold-membershipMain-screen {
  position: absolute;
  top: 0;
  left: 23.75rem;
  width: 21.438rem;
  height: 37.438rem;
  font-size: 1rem;
  color: #000;
}

/* gold over */