.group-child-membershipMain {
  background-color: #f2f6fe;
}
.group-child-membershipMain,
.group-item-membershipMain,
.rectangle-wrapper-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 1596px;
  height: 1436px;
}
.group-item-membershipMain {
  box-shadow: 0-1px 11.3px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  width: 685.9px;
  height: 229px;
}
.layer-3-icon-membershipMain {
  position: absolute;
  height: 12.1%;
  width: 7.11%;
  top: 5.15%;
  right: 2.62%;
  bottom: 82.75%;
  left: 90.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.active-members-membershipMain {
  top: 39.2px;
  left: 26.9px;
  font-weight: 300;
  width: 205.4px;
  height: 22.5px;
}
.active-members-membershipMain,
.div-membershipMain,
.view-all-members-membershipMain {
  position: absolute;
  display: inline-block;
}
.div-membershipMain {
  top: 89.1px;
  left: 33.9px;
  font-size: 35px;
  text-align: left;
  width: 23.9px;
  height: 27.4px;
}
.view-all-members-membershipMain {
  top: 0;
  left: 0;
  font-weight: 300;
  width: 234.3px;
  height: 22.5px;
}
.group-inner-membershipMain {
  position: absolute;
  left: 261.2px;
  max-height: 100%;
  width: 42.9px;
}
.view-all-members-parent-membershipMain {
  position: absolute;
  top: 160.5px;
  left: 26.9px;
  width: 304px;
  height: 22.5px;
  font-size: 25px;
}
.rectangle-div-membershipMain,
.rectangle-parent-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 685.9px;
  height: 229px;
}
.rectangle-div-membershipMain {
  box-shadow: 0-1px 11.3px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
}
.membership-revenue-membershipMain {
  top: 39.2px;
  left: 25.9px;
  font-weight: 300;
  width: 251.2px;
  height: 22.5px;
}
.div1-membershipMain,
.membership-revenue-membershipMain,
.view-all-members1-membershipMain {
  position: absolute;
  display: inline-block;
}
.div1-membershipMain {
  top: 89.1px;
  left: 30.9px;
  font-size: 35px;
  text-align: left;
  width: 23.9px;
  height: 27.4px;
}
.view-all-members1-membershipMain {
  top: 0;
  left: 0;
  font-weight: 300;
  width: 234.3px;
  height: 22.5px;
}
.line-icon-membershipMain {
  position: absolute;
  left: 257.2px;
  max-height: 100%;
  width: 42.9px;
}
.view-all-members-group-membershipMain {
  position: absolute;
  top: 160.5px;
  left: 24.9px;
  width: 300.1px;
  height: 22.5px;
  font-size: 25px;
}
.fi-10164350-icon-membershipMain {
  position: absolute;
  top: 7.9px;
  left: 635px;
  width: 40.9px;
  height: 27.4px;
  overflow: hidden;
}
.rectangle-group-membershipMain {
  position: absolute;
  top: 0;
  left: 806.5px;
  width: 685.9px;
  height: 229px;
}
.group-container-membershipMain,
.group-div-membershipMain,
.group-wrapper-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 1492.3px;
  height: 229px;
}
.group-container-membershipMain,
.group-wrapper-membershipMain {
  top: 77.3px;
  left: 56.8px;
}
.group-container-membershipMain {
  top: 0;
  left: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  width: 1596px;
  height: 1436px;
}
.group-child1-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0-1px 11.3px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  width: 1492px;
  height: 1033px;
}
.edit-your-membership-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 746px;
  height: 81px;
}
.make-changes-to-membershipMain {
  position: absolute;
  top: 89px;
  left: 17px;
  font-size: 27px;
  color: #afafaf;
  text-align: left;
  display: flex;
  align-items: center;
  width: 1172px;
  height: 33px;
}
.edit-your-membership-parent-membershipMain,
.group-child2-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 1189px;
  height: 122px;
}
.group-child2-membershipMain {
  box-shadow: -1px 1px 8.5px -1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  width: 572.2px;
  height: 97.9px;
}
.preview-membership-page-membershipMain {
  position: absolute;
  top: 0;
  left: 104.5px;
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 468px;
  height: 98px;
}
.fi-2356572-icon-membershipMain {
  position: absolute;
  top: 20px;
  left: 25.5px;
  width: 51.8px;
  height: 50.9px;
  overflow: hidden;
}
.group-child3-membershipMain,
.rectangle-parent1-membershipMain {
  position: absolute;
  top: 0;
  left: 768.5px;
  width: 572.5px;
  height: 98px;
}
.group-child3-membershipMain {
  left: 0;
  box-shadow: -1px 1px 8.5px -1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #b7e08a;
  width: 469.5px;
  height: 97.9px;
}
.new-add-membership-membershipMain {
  position: absolute;
  top: 0;
  left: 78px;
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 392px;
  height: 98px;
}
.vector-icon-membershipMain {
  position: absolute;
  height: 43.98%;
  width: 9.45%;
  top: 26.94%;
  right: 87.23%;
  bottom: 29.08%;
  left: 3.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-frame-membershipMain,
.group-parent2-membershipMain,
.rectangle-parent2-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 470px;
  height: 98px;
}
.group-parent2-membershipMain {
  top: 859px;
  left: 14px;
  width: 1341px;
  text-align: left;
  font-size: 33px;
}
.fi-3661484-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.fi-3661484-wrapper-membershipMain,
.group-child4-membershipMain {
  position: absolute;
  top: 279px;
  left: 31px;
  width: 50px;
  height: 50px;
}
.group-child4-membershipMain {
  top: 0;
  left: 0;
  box-shadow: 3px 4px 23.2px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  background-color: #fff;
  width: 1344px;
  height: 657px;
}
.fi-3661482-icon-membershipMain,
.group-icon-membershipMain {
  position: absolute;
  overflow: hidden;
}
.group-icon-membershipMain {
  height: 8.35%;
  width: 3.91%;
  top: 41.57%;
  right: 96.09%;
  bottom: 50.08%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.fi-3661482-icon-membershipMain {
  top: 249px;
  left: 1230px;
  width: 50px;
  height: 50px;
}
.group-child5-membershipMain {
  top: 0;
  box-shadow: 0-1px 14.3px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background-color: #f6f6f6;
  height: 599px;
}
.free-packages-membershipMain,
.group-child5-membershipMain,
.group-child6-membershipMain {
  position: absolute;
  left: 0;
  width: 343px;
}
.group-child6-membershipMain {
  top: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px 17px 18px 18px;
  background-color: #fff;
  height: 217px;
}
.free-packages-membershipMain {
  top: 52px;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  height: 40px;
}
.free-membershipMain,
.span-membershipMain {
  font-weight: 600;
  white-space: pre-wrap;
}
.listing-membershipMain {
  font-size: 20px;
}
.free-3-container1-membershipMain {
  width: 100%;
}
.free-3-container-membershipMain {
  position: absolute;
  top: 109px;
  left: 0;
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 343px;
  height: 43px;
  font-size: 39px;
}
.child-membershipMain {
  position: absolute;
  height: 29.87%;
  width: 25.07%;
  top: 0;
  right: 40.52%;
  bottom: 70.13%;
  left: 34.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div2-membershipMain,
.group-child7-membershipMain,
.rectangle-parent5-membershipMain {
  position: absolute;
  top: 21px;
  left: 0;
  width: 343px;
  height: 152px;
}
.group-child7-membershipMain,
.rectangle-parent5-membershipMain {
  top: 0;
  height: 217px;
}
.group-child7-membershipMain {
  border-radius: 5px;
  background-color: #b7e08a;
  width: 197.8px;
  height: 43px;
}
.edit-membership-membershipMain {
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-membership-membershipMain,
.rectangle-parent6-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 43px;
}
.group-child8-membershipMain {
  left: 0;
  border-radius: 5px;
  background-color: #d11a2a;
  width: 111px;
  cursor: pointer;
}
.delete-membershipMain,
.group-child8-membershipMain,
.rectangle-parent7-membershipMain {
  position: absolute;
  top: 0;
  height: 43px;
}
.delete-membershipMain {
  left: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
}
.rectangle-parent7-membershipMain {
  left: 208.9px;
  cursor: pointer;
  width: 111.1px;
  color: #fff;
}
.group-parent7-membershipMain {
  position: absolute;
  top: 285px;
  left: 0;
  width: 320px;
  height: 43px;
}
.checkmark-circle-2-icon-membershipMain {
  position: absolute;
  height: 63.33%;
  width: 5.85%;
  top: 20%;
  right: 94.15%;
  bottom: 16.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fi-2693507-icon-membershipMain {
  position: absolute;
  top: 0;
  left: 34.4px;
  width: 34.3px;
  height: 30px;
  overflow: hidden;
}
.days-plan-validity-membershipMain {
  position: absolute;
  top: 4px;
  left: 88px;
  display: flex;
  align-items: center;
  width: 240px;
  height: 22px;
}
.checkmark-circle-2-parent-membershipMain {
  position: absolute;
  height: 11.45%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 88.55%;
  left: 0;
}
.checkmark-circle-2-icon1-membershipMain {
  position: absolute;
  height: 63.33%;
  width: 5.85%;
  top: 20%;
  right: 94.15%;
  bottom: 16.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fi-2668384-icon-membershipMain {
  position: absolute;
  top: 0;
  left: 35.4px;
  width: 31.3px;
  height: 30px;
  overflow: hidden;
}
.top-slot-listing-membershipMain {
  position: absolute;
  top: 5px;
  left: 88px;
  display: flex;
  align-items: center;
  width: 240px;
  height: 18px;
}
.checkmark-circle-2-group-membershipMain {
  position: absolute;
  height: 11.45%;
  width: 100%;
  top: 22.14%;
  right: 0;
  bottom: 66.41%;
  left: 0;
}
.checkmark-circle-2-icon2-membershipMain {
  position: absolute;
  height: 61.29%;
  width: 5.85%;
  top: 25.81%;
  right: 94.15%;
  bottom: 12.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fi-2889676-icon-membershipMain {
  position: absolute;
  top: 0;
  left: 34.4px;
  width: 31.3px;
  height: 31px;
  overflow: hidden;
}
.privacy-of-your-membershipMain {
  position: absolute;
  top: 7px;
  left: 88px;
  display: flex;
  align-items: center;
  width: 240px;
  height: 17px;
}
.checkmark-circle-2-container-membershipMain {
  position: absolute;
  height: 11.83%;
  width: 100%;
  top: 44.27%;
  right: 0;
  bottom: 43.89%;
  left: 0;
}
.checkmark-circle-2-icon3-membershipMain {
  position: absolute;
  height: 61.29%;
  width: 5.85%;
  top: 19.35%;
  right: 94.15%;
  bottom: 19.35%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fi-870073-icon-membershipMain {
  position: absolute;
  top: 0;
  left: 34.4px;
  width: 31.3px;
  height: 31px;
  overflow: hidden;
}
.relationship-manager-fast-membershipMain {
  position: absolute;
  top: 2px;
  left: 86.8px;
  display: flex;
  align-items: center;
  width: 241.2px;
  height: 25px;
}
.checkmark-circle-2-parent1-membershipMain {
  position: absolute;
  height: 11.83%;
  width: 100%;
  top: 66.03%;
  right: 0;
  bottom: 22.14%;
  left: 0;
  
}
.checkmark-circle-2-icon4-membershipMain {
  position: absolute;
  height: 67.86%;
  width: 5.85%;
  top: 10.71%;
  right: 94.15%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fi-1239608-icon-membershipMain {
  position: absolute;
  top: 0;
  left: 37.4px;
  width: 29.3px;
  height: 28px;
  overflow: hidden;
}
.personal-field-assistant-membershipMain {
  position: absolute;
  top: 2px;
  left: 87px;
  display: flex;
  align-items: center;
  width: 241px;
  height: 22px;
}
.checkmark-circle-2-parent2-membershipMain,
.group-parent8-membershipMain {
  position: absolute;
  height: 10.69%;
  width: 100%;
  top: 89.31%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
}
.group-parent8-membershipMain {
  height: 79.88%;
  width: 98.5%;
  top: 0;
  bottom: 20.12%;
  left: 1.5%;
  text-align: left;
  font-size: 13px;
}
.group-parent6-membershipMain {
  position: absolute;
  top: 241px;
  left: 10px;
  width: 333px;
  height: 328px;
  font-size: 16px;
}
.group-parent5-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 343px;
  height: 569px;
}
.group-child10-membershipMain,
.group-child9-membershipMain,
.rectangle-parent4-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 343px;
  height: 599px;
}
.discont-membershipMain,
.rectangle-icon-membershipMain{
  position: absolute;
  top: 0;
  height: 15.6px;
}
.inner-membershipMain,
.silver-packages-membershipMain{
  position: absolute;
  top: 0;
  left: 0;
  width: 343px;
  height: 40px;
}
.span2-membershipMain{
  font-weight: 600;
  white-space: pre-wrap;
}
.group-child12-membershipMain,
.group-wrapper1-membershipMain{
  position: absolute;
  top: 0;
  left: 0;
  width: 343px;
  height: 217px;
}
.edit-membership1-membershipMain,
.group-child13-membershipMain{
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 43px;
}
.group-parent9-membershipMain{
  position: absolute;
  top: 0;
  left: 0;
  width: 343px;
  height: 569px;
}
.group-child14-membershipMain{
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0-1px 14.3px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background-color: #f6f6f6;
  width: 343px;
  height: 599px;
}
.gold-packages-membershipMain{
  position: absolute;
  left: 0;
  width: 343px;
  height: 40px;
}
.discont1-membershipMain,
.group-child16-membershipMain{
  position: absolute;
  top: 0;
  height: 15.6px;
}
.group-child18-membershipMain{
  position: absolute;
  top: 0;
  left: 0;
  width: 343px;
  height: 217px;
}
.edit-membership2-membershipMain{
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 43px;
}
.delete2-membershipMain,
.group-child19-membershipMain{
  position: absolute;
  top: 0;
  width: 110px;
  height: 42px;
}
.checkmark-circle-2-parent12-membershipMain{
  position: absolute;
  height: 10.65%;
  width: 100%;
  top: 89.35%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
}
.group-group-membershipMain,
.group-parent4-membershipMain{
  position: absolute;
  top: 0;
  left: 770px;
  width: 343px;
  height: 599px;
}
.group-group-membershipMain,
.group-parent4-membershipMain {
  left: 82px;
  width: 1113px;
}
.group-group-membershipMain {
  height: 91.17%;
  width: 95.24%;
  top: 4.57%;
  right: 2.46%;
  bottom: 4.26%;
  left: 2.31%;
}
.group-parent3-membershipMain,
.rectangle-parent3-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 1344px;
  height: 657px;
}
.group-parent3-membershipMain {
  top: 162px;
  left: 13px;
  font-size: 30px;
}
.group-parent1-membershipMain {
  position: absolute;
  top: 35px;
  left: 64px;
  width: 1357px;
  height: 957px;
}
.rectangle-container-membershipMain {
  position: absolute;
  top: 368px;
  left: 57px;
  width: 1492px;
  height: 1033px;
  font-size: 64px;
}
.group-parent-membershipMain,
.membershipnew-inner-membershipMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 1596px;
  height: 1436px;
}
.membershipnew-membershipMain {
  width: 100%;
  position: relative;
  height: 1436px;
  text-align: center;
  font-size: 23px;
  color: #000;
  font-family: Sora;
}
