.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f6fe;
  width: 100.063rem;
  height: 61.813rem;
}
.group-item {
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  width: 13.125rem;
  height: 4.188rem;
}
.categories {
  position: absolute;
  top: 1.25rem;
  left: 1.75rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 10.25rem;
  height: 2.188rem;
}
.group-inner,
.rectangle-group {
  position: absolute;
  height: 4.188rem;
}
.rectangle-group {
  top: 2.375rem;
  left: 3.75rem;
  width: 13.125rem;
}
.group-inner {
  top: 0;
  left: 0;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #b7e08a;
  width: 12rem;
}
.location {
  position: absolute;
  top: 1.063rem;
  left: 2.063rem;
  line-height: 1.5rem;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 8.5rem;
  height: 2.188rem;
}
.rectangle-container {
  position: absolute;
  top: 2.375rem;
  left: 18.563rem;
  width: 12rem;
  height: 4.188rem;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 29px;
  background-color: #fff;
  width: 93.813rem;
  height: 43.563rem;
}
.action,
.location-id,
.location-name {
  position: absolute;
  top: 0;
  left: 0.313rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 13.75rem;
  height: 2rem;
}
.action,
.location-name {
  left: 29.781rem;
  width: 20.225rem;
}
.action {
  left: 75.938rem;
  width: 7.625rem;
}
.line-icon,
.location-id-parent {
  position: absolute;
  width: 87.563rem;
}
.line-icon {
  top: 4rem;
  left: 0;
  max-height: 100%;
}
.location-id-parent {
  top: 10.5rem;
  left: 3.188rem;
  height: 4rem;
  text-align: left;
  font-size: 2.25rem;
}
.line-div {
  position: absolute;
  top: 4.063rem;
  left: 0;
  border-top: 2px solid rgba(179, 175, 175, 0.56);
  box-sizing: border-box;
  width: 87.688rem;
  height: 0.125rem;
}
.bandung,
.div {
  position: absolute;
  top: 2rem;
  left: 5.813rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 1.563rem;
  height: 1.625rem;
}
.bandung {
  top: 1.938rem;
  left: 32.813rem;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  width: 10.625rem;
  height: 1.938rem;
}
.bin-8-1,
.edit-1-1 {
  position: absolute;
  top: 0;
  left: 81.25rem;
  width: 3.563rem;
  height: 3.563rem;
  object-fit: cover;
}
.edit-1-1 {
  left: 74.75rem;
}
.line-parent {
  position: absolute;
  top: 16.875rem;
  left: 3.188rem;
  width: 87.563rem;
  height: 4.063rem;
}
.group-child1 {
  position: absolute;
  top: 4.063rem;
  left: 0;
  border-top: 2px solid rgba(179, 175, 175, 0.56);
  box-sizing: border-box;
  width: 87.688rem;
  height: 0.125rem;
}
.div1,
.jakarta {
  position: absolute;
  top: 1.875rem;
  left: 5.938rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 2rem;
  height: 1.875rem;
}
.jakarta {
  top: 2.125rem;
  left: 32.188rem;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  width: 10.563rem;
  height: 1.938rem;
}
.bin-8-2,
.edit-1-2 {
  position: absolute;
  top: 0;
  left: 81.25rem;
  width: 3.563rem;
  height: 3.563rem;
  object-fit: cover;
}
.edit-1-2 {
  left: 74.75rem;
}
.line-group {
  position: absolute;
  top: 22.125rem;
  left: 3.188rem;
  width: 87.563rem;
  height: 4.063rem;
}
.group-child2 {
  position: absolute;
  top: 4.063rem;
  left: 0;
  border-top: 2px solid rgba(179, 175, 175, 0.56);
  box-sizing: border-box;
  width: 87.688rem;
  height: 0.125rem;
}
.bali,
.div2 {
  position: absolute;
  top: 1.938rem;
  left: 6.375rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 1.625rem;
  height: 1.938rem;
}
.bali {
  top: 2.125rem;
  left: 33.313rem;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  width: 4.313rem;
}
.bin-8-3,
.edit-1-3 {
  position: absolute;
  top: 0;
  left: 81.25rem;
  width: 3.563rem;
  height: 3.563rem;
  object-fit: cover;
}
.edit-1-3 {
  left: 74.75rem;
}
.line-container {
  position: absolute;
  top: 27.375rem;
  left: 3.188rem;
  width: 87.563rem;
  height: 4.063rem;
}
.group-child3 {
  left: 0;
  box-shadow: 0 1px 6.2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  width: 62.313rem;
}
.group-child3,
.group-child4,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  height: 4.938rem;
}
.group-child4 {
  left: 65.188rem;
  box-shadow: 0 1px 6.2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #b7e08a;
  width: 22.375rem;
}
.rectangle-parent1 {
  left: 0;
  width: 87.563rem;
}
.submit {
  position: absolute;
  top: 1.563rem;
  left: 71.25rem;
  padding-top: 20px;
  line-height: 1.5rem;
  display: inline-block;
  width: 11.125rem;
  height: 2.188rem;
}
.group-container,
.group-div {
  position: absolute;
  top: 2.5rem;
  left: 3.188rem;
  width: 87.563rem;
  height: 4.938rem;
  text-align: center;
  font-size: 2.25rem;
}
.group-div {
  top: 9.625rem;
  left: 3rem;
  width: 93.813rem;
  height: 43.563rem;
  text-align: right;
  font-size: 2.5rem;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.063rem;
  height: 61.813rem;
}
.group-parent {
  width: 100%;
  position: relative;
  height: 61.813rem;
  text-align: left;
  font-size: 1.75rem;
  color: #000;
  font-family: Sora;
}
