.group-child{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f6fe;
  width: 100.063rem;
  height: 61.813rem;
}
.group-inner{
  position: absolute;
  height: 4.188rem;
}
.location {
  position: absolute;
  top: 1.063rem;
  left: 2.063rem;
  line-height: 1.5rem;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 8.5rem;
  height: 2.188rem;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 29px;
  background-color: #fff;
  width: 93.813rem;
  height: 43.563rem;
}
.action,
.location-id{
  position: absolute;
  top: 0;
  left: 0.313rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 13.75rem;
  height: 2rem;
}
.action{
  left: 29.781rem;
  width: 20.225rem;
}
.action {
  left: 75.938rem;
  width: 7.625rem;
}
.line-icon{
  position: absolute;
  width: 87.563rem;
}
.line-icon {
  top: 4rem;
  left: 0;
  max-height: 100%;
}
.bandung,
.div {
  position: absolute;
  top: 2rem;
  left: 5.813rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 1.563rem;
  height: 1.625rem;
}
.bin-8-1{
  position: absolute;
  top: 0;
  left: 81.25rem;
  width: 3.563rem;
  height: 3.563rem;
  object-fit: cover;
}
.line-parent {
  position: absolute;
  top: 16.875rem;
  left: 3.188rem;
  width: 87.563rem;
  height: 4.063rem;
}
.group-child1 {
  position: absolute;
  top: 4.063rem;
  left: 0;
  border-top: 2px solid rgba(179, 175, 175, 0.56);
  box-sizing: border-box;
  width: 87.688rem;
  height: 0.125rem;
}
.bin-8-2{
  position: absolute;
  top: 0;
  left: 81.25rem;
  width: 3.563rem;
  height: 3.563rem;
  object-fit: cover;
}
.group-child2 {
  position: absolute;
  top: 4.063rem;
  left: 0;
  border-top: 2px solid rgba(179, 175, 175, 0.56);
  box-sizing: border-box;
  width: 87.688rem;
  height: 0.125rem;
}
.bali{
  position: absolute;
  top: 1.938rem;
  left: 6.375rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 1.625rem;
  height: 1.938rem;
}
.bin-8-3{
  position: absolute;
  top: 0;
  left: 81.25rem;
  width: 3.563rem;
  height: 3.563rem;
  object-fit: cover;
}
.group-child3,
.group-child4,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  height: 4.938rem;
}
.rectangle-parent1 {
  left: 0;
  width: 87.563rem;
}
.submit {
  position: absolute;
  top: 1.563rem;
  left: 71.25rem;
  padding-top: 20px;
  line-height: 1.5rem;
  display: inline-block;
  width: 11.125rem;
  height: 2.188rem;
}
.group-parent {
  width: 100%;
  position: relative;
  height: 61.813rem;
  text-align: left;
  font-size: 1.75rem;
  color: #000;
  font-family: Sora;
}