.subheading4 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 3.438rem;
}
.heading10,
.text22 {
  align-self: stretch;
  position: relative;
}
.heading10 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text22 {
  font-size: 1.125rem;
  line-height: 150%;
}
.content22,
.section-title2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content22 {
  gap: 1.5rem;
  text-align: left;
  font-size: 3rem;
}
.section-title2 {
  gap: 1rem;
}
.button24 {
  position: relative;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 600;
  font-family: Sora;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 5.75rem;
}
.stylesecondary-smallfalse2 {
  cursor: pointer;
  border: 0;
  padding: 0.75rem 1.5rem;
  background-color: #b7e08a;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.stylesecondary-smallfalse2:hover {
  background-color: #85ad57;
}
.button25 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 4.188rem;
}
.icon-chevron-right2 {
  height: 0.5rem;
  width: 0.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 0.1rem;
}
.stylelink-smallfalse-dark3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.actions4,
.content21 {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}
.actions4 {
  flex-direction: row;
  align-items: center;
  padding: 1rem 0 0;
  text-align: left;
}
.content21 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem 0;
  box-sizing: border-box;
  min-width: 25.5rem;
  max-width: 100%;
}
.container-child {
  width: 37.813rem;
  position: relative;
  border-radius: 12px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.container,
.layout-1,
.layout-1-wrapper {
  display: flex;
  justify-content: flex-start;

}
.container {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.layout-1,
.layout-1-wrapper {
  align-items: flex-start;
  box-sizing: border-box;
}
.layout-1 {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 7rem 4rem;
}
.layout-1-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0.281rem;
  text-align: center;
  font-size: 1rem;
  color: #000;
  font-family: Sora;
}
@media screen and (max-width: 1225px) {
  .container-child {
    flex: 1;
  }
  .container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .layout-1 {
    padding-top: 4.563rem;
    padding-bottom: 4.563rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .heading10 {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
  .content21 {
    min-width: 100%;
  }
  .container,
  .layout-1 {
    gap: 2.5rem;
  }
  .layout-1 {
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading10 {
    font-size: 1.813rem;
    line-height: 2.188rem;
  }
  .container,
  .layout-1 {
    gap: 1.25rem;
  }
  .layout-1 {
    padding-top: 2.938rem;
    padding-bottom: 2.938rem;
    box-sizing: border-box;
  }
}
