.rectangle-icon-blogCardType {
    align-self: stretch;
    height: 18.75rem;
    position: relative;
    border-radius: 16px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .may-2022-blogCardType {
    position: relative;
    line-height: 130%;
  }
  .frame-child3-blogCardType {
    width: 0.188rem;
    height: 0.188rem;
    position: relative;
    border-radius: 50%;
    background-color: #d4d7df;
  }
  .ellipse-container-blogCardType {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625rem 0 0;
  }
  .career-tips2-blogCardType {
    position: relative;
    line-height: 130%;
    display: inline-block;
    min-width: 2.375rem;
  }
  .may-2022-parent-blogCardType {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  .how-intrapreneurship-can-blogCardType {
    align-self: stretch;
    position: relative;
    font-size: 1.5rem;
    line-height: 130%;
    text-transform: capitalize;
    color: #1b2124;
  }
  .card-type2-blogCardType,
  .frame-parent9-blogCardType {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent9-blogCardType {
    align-self: stretch;
    gap: 0.75rem;
  }
  .card-type2-blogCardType {
    flex: 1;
    gap: 1.5rem;
    min-width: 18.438rem;
    max-width: 100%;
    text-align: left;
    font-size: 1.125rem;
    color: #7f879e;
    font-family: Sora;
  }
  @media screen and (max-width: 450px) {
    .how-intrapreneurship-can-blogCardType {
      font-size: 1.188rem;
      line-height: 1.563rem;
    }
  }
  