.photo-by-juan-ordonez-aboutCard {
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 100px;
  object-fit: contain;
  display: block; 
  margin: 0 auto;
  }
  .job-title-aboutCard,
  .name-aboutCard {
    align-self: stretch;
    position: relative;
    line-height: 150%;
  }
  .name-aboutCard {
    font-weight: 600;
  }
  .job-title-aboutCard {
    font-size: 1.125rem;
  }
  .title4-aboutCard {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .blend-mode-aboutCard {
    align-self: stretch;
    position: relative;
    font-size: 1rem;
    line-height: 150%;
  }
  .content23-aboutCard {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  .icon-dribble-aboutCard,
  .icon-linkedin-aboutCard,
  .icon-x-aboutCard {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 1.5rem;
  }
  .card-aboutCard,
  .social-icons-aboutCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1.875rem;
    margin-top: 15px;
  }
  .card-aboutCard {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    min-width: 18.063rem;
    text-align: center;
    font-size: 1.25rem;
    color: #000;
    font-family: Sora;
  }
  @media screen and (max-width: 450px) {
    .name-aboutCard {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  