.recent-articles {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 2.625rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.newest-update-article {
  position: relative;
  font-size: 1.125rem;
  line-height: 180%;
  color: #7f879e;
}
.card-type-parent,
.frame-group,
.recent-articles-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.recent-articles-parent {
  flex-direction: column;
  gap: 0.75rem;
}
.card-type-parent,
.frame-group {
  align-self: stretch;
}
.card-type-parent {
  display: flex;
  width: 78rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.875rem 1.687rem;
}
.frame-group {
  flex-direction: column;
  gap: 4.062rem;
}
.div {
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  min-width: 0.563rem;
}
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  max-width: 100%;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
  font-size: 0.875rem;
  color: #7f879e;
}
.card-type-card,
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 77.5rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.125rem;
  text-align: left;
  font-size: 2rem;
  color: #1b2124;
  font-family: Sora;
}
.card-type-card {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25rem 3.75rem;
  box-sizing: border-box;
}
.blog-recent-articles {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .card-type-card {
    padding-bottom: 2.438rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .card-type-card {
    padding-bottom: 1.563rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .recent-articles {
    font-size: 1.625rem;
    line-height: 2.063rem;
  }
  .frame-group {
    gap: 2rem;
  }
  .frame-parent {
    gap: 1.563rem;
  }
  .blog-recent-articles {
    gap: 1.25rem;
  }
}
@media screen and (max-width: 450px) {
  .recent-articles {
    font-size: 1.188rem;
    line-height: 1.563rem;
  }
  .frame-group {
    gap: 1rem;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .card-type-card {
    padding-bottom: 1.25rem;
    box-sizing: border-box;
  }
}
