.blank-line2,
.blank-line3,
.by-all-accounts,
.imagine-one-day {
  margin: 0;
}
.imagine-one-day-container {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 100%;
}
.imagine-one-day-living-in-a-lu-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.062rem;
  box-sizing: border-box;
  max-width: 100%;
  color: #7f879e;
}
.a-way-out {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 2.625rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.he-was-granted,
.living-as-a {
  margin: 0;
}
.living-as-a-container {
  align-self: stretch;
  position: relative;
  font-size: 1.125rem;
  line-height: 160%;
  color: #7f879e;
}
.a-way-out-focusing-on-what-ca-parent,
.frame-wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.a-way-out-focusing-on-what-ca-parent {
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}
.frame-wrapper6 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 0.062rem;
  box-sizing: border-box;
  font-size: 2rem;
}
.frame-child5 {
  width: 0.875rem;
  height: 0.125rem;
  position: relative;
  background-color: #f59a74;
}
.rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 0 0;
}
.preparation-meets-opportunity {
  position: relative;
  line-height: 130%;
  text-transform: capitalize;
}
.frame-parent19,
.frame-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent19 {
  gap: 0.562rem;
}
.frame-wrapper7 {
  padding: 0 0.062rem 0.187rem;
  box-sizing: border-box;
  font-size: 1.25rem;
}
.after-some-success,
.upon-graduating-the {
  margin: 0;
}
.upon-graduating-the-container {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 100%;
}
.upon-graduating-the-harsh-rea-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 0.062rem;
  box-sizing: border-box;
  max-width: 100%;
  color: #7f879e;
}
.frame-child6 {
  width: 0.875rem;
  height: 0.125rem;
  position: relative;
  background-color: #f59a74;
}
.rectangle-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 0 0;
}
.luck-or-fate {
  position: relative;
  line-height: 130%;
  text-transform: capitalize;
}
.frame-parent21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  max-width: 100%;
}
.once-john-set,
.theres-a-saying {
  margin: 0;
}
.theres-a-saying-container {
  align-self: stretch;
  position: relative;
  font-size: 1.125rem;
  line-height: 160%;
  color: #7f879e;
}
.frame-parent20,
.frame-wrapper8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent20 {
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}
.frame-wrapper8 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 0.062rem;
  box-sizing: border-box;
  font-size: 1.25rem;
}
.frame-child7 {
  width: 0.875rem;
  height: 0.125rem;
  position: relative;
  background-color: #f59a74;
}
.rectangle-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 0 0;
}
.the-value-of {
  position: relative;
  line-height: 130%;
  text-transform: capitalize;
}
.frame-parent22,
.frame-wrapper9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent22 {
  gap: 0.625rem;
}
.frame-wrapper9 {
  padding: 0 0.062rem 0.187rem;
  box-sizing: border-box;
  font-size: 1.25rem;
}
.early-on-john {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 100%;
}
.early-on-john-realized-that-s-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 0.062rem;
  box-sizing: border-box;
  max-width: 100%;
  color: #7f879e;
}
.frame-child8 {
  align-self: stretch;
  height: 32.5rem;
  position: relative;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent18,
.website-info-inner2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent18 {
  width: 59.188rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.312rem;
}
.website-info-inner2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25rem 0.5rem 1.312rem;
  box-sizing: border-box;
  text-align: left;
  font-size: 1.125rem;
  color: #1b2124;
  font-family: Sora;
}
@media screen and (max-width: 750px) {
  .a-way-out {
    font-size: 1.625rem;
    line-height: 2.063rem;
  }
}
@media screen and (max-width: 450px) {
  .a-way-out {
    font-size: 1.188rem;
    line-height: 1.563rem;
  }
  .luck-or-fate,
  .preparation-meets-opportunity,
  .the-value-of {
    font-size: 1rem;
    line-height: 1.313rem;
  }
}
