.group-child11-main,
.group-child12-main {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f6fe;
  width: 100.063rem;
  height: 61.813rem;
}
.group-child12-main {
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  width: 13.125rem;
  height: 4.188rem;
}
.pending-main {
  position: absolute;
  top: 1.125rem;
  left: 2.625rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 8.688rem;
  height: 2.188rem;
}
.group-child13-main,
.rectangle-parent37-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.125rem;
  height: 4.188rem;
}
.rectangle-parent37-main:hover{
    background-color: #b7e08a;
}
.group-child13-main {
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  width: 12rem;
}
.active-main {
  position: absolute;
  top: 1.125rem;
  left: 3.438rem;
  line-height: 1.5rem;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 6.438rem;
  height: 2.188rem;
}
.group-child14-main,
.rectangle-parent38-main {
  position: absolute;
  top: 0;
  width: 12rem;
  height: 4.188rem;
}
.rectangle-parent38-main {
  left: 14.813rem;
}
.rectangle-parent38-main:hover{
    background-color: #b7e08a;
}
.group-child14-main {
  left: 0;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
}
.reject-main {
  position: absolute;
  top: 1.125rem;
  left: 3.313rem;
  line-height: 1.5rem;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 7rem;
  height: 2.188rem;
}
.rectangle-parent39-main {
  position: absolute;
  top: 0;
  left: 28.5rem;
  width: 12rem;
  height: 4.188rem;
}
.rectangle-parent39-main:hover{
    background-color: #b7e08a;
}
.group-parent1-main {
  position: absolute;
  top: 2.375rem;
  left: 3.75rem;
  width: 40.5rem;
  height: 4.188rem;
}
.group-child15-main,
.group-child16-main {
  position: absolute;
  background-color: #fff;
}
.group-child15-main {
  top: 0;
  left: 0;
  border-radius: 21px;
  width: 95.625rem;
  height: 48.25rem;
}
.group-child16-main {
  top: 12.063rem;
  left: 86.188rem;
  box-shadow: 0 1px 4.8px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  width: 8.063rem;
  height: 7.875rem;
}
.child-main {
  position: absolute;
  top: 4.625rem;
  left: 0;
  border-top: 2px solid #bcbcbc;
  box-sizing: border-box;
  width: 95.125rem;
  height: 0.125rem;
}
.div28-main,
.home2-main,
.jakarta1-main {
  position: absolute;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
}
.div28-main {
  top: 0.813rem;
  left: 0.938rem;
  white-space: pre-wrap;
  width: 0.688rem;
  height: 1.25rem;
}
.home2-main,
.jakarta1-main {
  top: 0.938rem;
  left: 14.875rem;
  width: 4.063rem;
  height: 2rem;
}
.jakarta1-main {
  top: 0.875rem;
  left: 25.188rem;
  width: 4.938rem;
  height: 1.75rem;
}
.cozy-xcottage-main {
  top: 0.938rem;
  left: 33.563rem;
  font-size: 1.063rem;
  width: 8.25rem;
  height: 1.688rem;
}
.cozy-xcottage-main,
.div29-main,
.div30-main,
.karan-main {
  position: absolute;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
}
.div29-main {
  top: 0.875rem;
  left: 44.063rem;
  width: 4.688rem;
  height: 1.813rem;
}
.div30-main,
.karan-main {
  top: 0.938rem;
}
.div30-main {
  left: 50.938rem;
  font-size: 1.063rem;
  width: 7.625rem;
  height: 2rem;
}
.karan-main {
  left: 4.938rem;
  width: 3.375rem;
  height: 1.688rem;
}
.group-child17-main {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #b7e08a;
  width: 8.313rem;
  height: 3.063rem;
}
.change-status-main {
  position: absolute;
  top: 0.75rem;
  left: 0.25rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 8.063rem;
  height: 0.75rem;
}
.rectangle-parent41-main {
  position: absolute;
  top: 0;
  left: 85.5rem;
  width: 8.313rem;
  height: 3.063rem;
  font-size: 0.875rem;
  background-color: #b7e08a;
  border-radius: 0.5rem;
}
.option{
    background-color: #fff;
}
.pending1-main {
  position: absolute;
  top: 0.875rem;
  left: 63.125rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 6.813rem;
  height: 2rem;
}
.group-child18-main {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5.3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: #fff;
  width: 7.188rem;
  height: 2.688rem;
}
.preview-main {
  position: absolute;
  top: 0.563rem;
  left: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 4.75rem;
  height: 1.375rem;
}
.rectangle-parent42-main {
  position: absolute;
  top: 0.375rem;
  left: 75.438rem;
  width: 7.188rem;
  height: 2.688rem;
  font-size: 1.063rem;
}
.div27-main,
.reject1-main {
  position: absolute;
}
.div27-main {
  top: 9rem;
  left: 0.625rem;
  width: 95rem;
  height: 4.625rem;
}
.reject1-main {
  top: 0;
  left: 1.75rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 3.688rem;
  height: 1.438rem;
}
.block-3-icon-main {
  position: absolute;
  top: 0.313rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}
.reject-parent-main {
  position: absolute;
  top: 4.875rem;
  left: 0.063rem;
  width: 5.438rem;
  height: 1.438rem;
}
.active-user-3-icon-main {
  position: absolute;
  top: 0.188rem;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  object-fit: cover;
}
.active-user-3-parent-main,
.active1-main {
  position: absolute;
  height: 1.438rem;
}
.active1-main {
  top: 0;
  left: 1.875rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 3.938rem;
}
.active-user-3-parent-main {
  top: 2.563rem;
  left: 0;
  width: 5.813rem;
}
.pending2-main {
  position: absolute;
  top: 0;
  left: 1.688rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 4.5rem;
  height: 1.188rem;
}
.wall-clock-3-icon-main {
  position: absolute;
  top: 0.188rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}
.pending-parent-main {
  position: absolute;
  top: 0;
  left: 0.063rem;
  width: 6.188rem;
  height: 1.188rem;
}
.group-parent2-main {
  position: absolute;
  top: 12.813rem;
  left: 86.5rem;
  width: 6.25rem;
  height: 6.313rem;
  font-size: 0.875rem;
}
.categories1-main,
.id1-main {
  position: absolute;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
}
.id1-main {
  top: 0;
  left: 1.25rem;
  white-space: pre-wrap;
  width: 2.5rem;
  height: 1.875rem;
}
.categories1-main {
  top: 0.063rem;
  left: 12.688rem;
  width: 12.375rem;
  height: 2.313rem;
}
.location1-main {
  position: absolute;
  top: 0.25rem;
  left: 24.563rem;
  width: 9.813rem;
  height: 2rem;
}
.location1-main,
.price-main,
.products40-main {
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
}
.products40-main {
  position: absolute;
  top: 0.25rem;
  left: 34rem;
  width: 9rem;
  height: 1.938rem;
}
.price-main {
  top: 0.188rem;
  left: 44.688rem;
  width: 5.938rem;
  height: 2.063rem;
}
.date-main,
.id-child-main,
.price-main {
  position: absolute;
}
.date-main {
  top: 0.188rem;
  left: 52.563rem;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 5.625rem;
  height: 2.313rem;
}
.id-child-main {
  top: 4.063rem;
  left: 0;
  border-top: 2px solid #2b2b2b;
  box-sizing: border-box;
  width: 95.75rem;
  height: 0.125rem;
}
.action1-main,
.more-detail-main,
.request-status-main,
.vendor2-main {
  position: absolute;
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
}
.vendor2-main {
  top: 0;
  left: 4.25rem;
  width: 7.688rem;
  height: 2rem;
}
.action1-main,
.more-detail-main,
.request-status-main {
  top: 0.375rem;
  left: 59.813rem;
  width: 12.75rem;
  height: 2.25rem;
}
.action1-main,
.more-detail-main {
  top: 0.313rem;
  left: 74.875rem;
  width: 11.75rem;
  height: 1.813rem;
}
.action1-main {
  left: 87.125rem;
  width: 7.75rem;
  height: 1.875rem;
}
.id-main,
.rectangle-parent40-main {
  position: absolute;
  width: 95.625rem;
}
.id-main {
  top: 2.188rem;
  left: 0;
  height: 4.063rem;
  font-size: 1.688rem;
}
.rectangle-parent40-main {
  top: 8.375rem;
  left: 2rem;
  height: 48.25rem;
  font-size: 1.188rem;
}
.rectangle-parent36-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.063rem;
  height: 61.813rem;
}
.status-main {
  width: 100%;
  position: relative;
  height: 61.813rem;
  text-align: left;
  font-size: 1.75rem;
  color: #000;
  font-family: Sora;
}
