.frame-child55-popup {
    width: 748px;
    height: 538px;
    position: relative;
    box-shadow: 0 1px 20px -2px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    background-color: #fff;
    border: 5px solid #b7e08a;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .frame-child56-popup {
    border: 0;
    outline: 0;
  }
  .frame-child56-popup,
  .frame-child57-popup {
    height: 47px;
    flex: 1;
    position: relative;
    box-shadow: 0 1px 11.6px 0.3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: #fff;
    min-width: 214px;
    max-width: 100%;
    z-index: 1;
    padding: 15px;
  }
  .rectangle-parent37-popup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
    max-width: 100%;
  }
  .first-child-rect-popup,
  .last-child-rect-popup {
    height: 47px;
    position: relative;
    box-shadow: 0 1px 11.6px 0.3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: #fff;
    z-index: 1;
  }
  .first-child-rect-popup {
    border: 0;
    outline: 0;
    flex: 1;
    min-width: 214px;
    max-width: 100%;
    padding: 15px;
  }
  .last-child-rect-popup {
    align-self: stretch;
    padding: 15px;
  }
  .second-child-rect-popup {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 6px 0 0;
    box-sizing: border-box;
  }
  .first-child-rect1-popup {
    height: 47px;
    width: 151px;
    position: relative;
    box-shadow: 0 1px 11.6px 0.3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: #fff;
    z-index: 1;
    padding: 15px;
  }
  .first-child-rect-parent-popup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
    max-width: 100%;
  }
  .compound-rects-popup,
  .compound-rects1-popup,
  .compound-rects2-popup,
  .crush-opponents-popup {
    height: 46px;
    flex: 1;
    position: relative;
    box-shadow: 0 1px 11.6px 0.3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: #fff;
    min-width: 141px;
    max-width: 153px;
    z-index: 1;
  }
  .compound-rects-parent-popup,
  .frame-parent26-popup {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
  }
  .compound-rects-parent-popup {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .frame-parent26-popup {
    flex-direction: column;
    max-width: 100%;
  }
  .frame-child58-popup {
    align-self: stretch;
    height: 127px;
    position: relative;
    box-shadow: 0 1px 11.1px 0.3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: #fff;
    z-index: 1;
  }
  .frame-parent25-popup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
    max-width: 100%;
  }
  .frame-child59-popup,
  .frame-child60-popup {
    background-color: #fff;
    position: absolute;
  }
  .frame-child59-popup {
    top: 0;
    left: 1px;
    box-shadow: 1px -1px 10.4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
  }
  .frame-child60-popup {
    border: 0;
    outline: 0;
    height: calc(100% - 1px);
    top: 1px;
    bottom: 0;
    left: 0;
    box-shadow: 3px 1px 3.5px -2px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    width: 153px;
    z-index: 2;
  }
  .frame-child61-popup,
  .rectangle-parent38-popup {
    height: 51px;
    position: relative;
    box-shadow: 1px -1px 10.4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1;
  }
  .rectangle-parent38-popup {
    flex: 1;
    background-color: #fff;
    min-width: 317px;
    max-width: 100%;
  }
  .frame-child61-popup {
    width: 169px;
    background-color: #b7e08a;
  }
  .frame-parent27-popup {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
  }
  .frame-parent27-popup,
  .home1-popup,
  .rectangle-parent36-popup {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent36-popup {
    flex: 1;
    box-shadow: 0 1px 20px -2px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    background-color: #fff;
    border: 5px solid #b7e08a;
    box-sizing: border-box;
    flex-direction: column;
    padding: 75px 30px 41px;
    gap: 22px;
  }
  .home1-popup {
    width: 748px;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 526px) {
    .rectangle-parent36-popup {
      padding-top: 49px;
      padding-bottom: 27px;
      box-sizing: border-box;
    }
  }
  