.frame-child39-signIn,
.frame-child40-signIn {
  position: absolute;
  top: 0;
  width: 88%;
  height: 100%;
}
.frame-child39-signIn {
  left: 0.625rem;
  border-radius: 50px;
  object-fit: cover;
}
.frame-child40-signIn {
  left: 0;
  border-radius: 49px;
  z-index: 1;
}
.desktop-7-inner-signIn,
.rectangle-parent29-signIn {
  height: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
}
.rectangle-parent29-signIn {
  width: 66rem;
  left: -3rem;
}
.desktop-7-inner-signIn {
  width: 63rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child41-signIn {
  height: 4.75rem;
  width: 14.25rem;
  position: relative;
  border-radius: 9px;
  background-color: #fff;
  display: none;
}
.log-in5-signIn {
  position: relative;
  font-size: 1.875rem;
  line-height: 130%;
  font-weight: 600;
  font-family: Sora;
  color: #8ccb47;
  text-align: left;
  display: inline-block;
  min-width: 5.813rem;
  z-index: 3;
}
.rectangle-parent30-signIn {
  border-radius: 9px;
  cursor: pointer;
  z-index: 2;
}
.rectangle-parent30-signIn {
  border: 0;
  padding: 1rem 2rem 1.312rem;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.sign-up11-signIn {
  position: absolute;
  top: 1.063rem;
  left: 2.125rem;
  font-size: 1.875rem;
  line-height: 130%;
  font-weight: 600;
  font-family: Sora;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 7.313rem;
  z-index: 3;
  cursor: pointer;
}
.rectangle-parent31-signIn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 4.75rem;
  position: relative;
  white-space: nowrap;
  margin-left: 183px;
}
.desktop-7-child-signIn,
.frame-parent17-signIn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent17-signIn {
  align-self: stretch;
  gap: 0.625rem;
}
.desktop-7-child-signIn {
  width: 14.25rem;
  padding: 24.875rem 0 0;
  box-sizing: border-box;
  min-width: 14.25rem;
}
.ayestate6-signIn {
  margin: 0;
  width: 25.563rem;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.ayestate-wrapper3-signIn,
.email-field1-signIn {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.ayestate-wrapper3-signIn {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
.email-field1-signIn {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.937rem;
  min-width: 38.25rem;
}
.desktop-7-signIn {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0.375rem 11.062rem 0.35rem 42rem;
  box-sizing: border-box;
  gap: 26.375rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 5rem;
  color: #000;
  font-family: Playball;
  height: 940px;
}
.frame-child61-signIn {
    width: 37.313rem;
    height: 48.838rem;
    position: relative;
    box-shadow: 0 0 12.6px -10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    background-color: #fff;
    border: 5px solid #cfeca8;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .log-in6-signIn {
    margin: 0;
    width: 13.75rem;
    position: relative;
    font-size: inherit;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: inherit;
    white-space: pre-wrap;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .log-in-wrapper-signIn {
    width: 29.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .email-phone-reqd-child-signIn {
    border: 1px solid #e7e7e7;
    outline: 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 1.813rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-sizing: border-box;
    width: 32.188rem;
    height: 4.275rem;
    z-index: 1;
    padding: 33px;
  }
  .email-phone-required-signIn{
    height: 2.169rem;
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    white-space: pre-wrap;
    display: inline-block;
    max-width: 100%;
    z-index: 2;
  }
  .email-phone-reqd-signIn {
    align-self: stretch;
    height: 5.513rem;
    position: relative;
    max-width: 100%;
    font-size: 1.5rem;
    font-family: Rubik;
  }
  .frame-child62-signIn {
    height: 3.844rem;
    width: 20.063rem;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    background-color: #b7e08a;
    display: none;
    max-width: 100%;
  }
  .continue-signIn {
    position: relative;
    font-size: 1.563rem;
    line-height: 130%;
    font-family: Sora;
    color: #111;
    text-align: left;
    display: inline-block;
    min-width: 7.25rem;
    z-index: 1;
  }
  .continue-btn-signIn,
  .rectangle-parent43-signIn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent43-signIn {
    cursor: pointer;
    border: 0;
    padding: 0.931rem 1.25rem 0.931rem 1.687rem;
    background-color: #b7e08a;
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    justify-content: center;
    z-index: 1;
  }
  .rectangle-parent43-signIn:hover,
  .rectangle-parent45-signIn:hover {
    background-color: #85ad57;
  }
  .continue-btn-signIn {
    width: 28.813rem;
    justify-content: flex-end;
    padding: 0 4.375rem 1.8rem;
  }
  .generate-otp-signIn{
    height: 2.169rem;
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    display: inline-block;
    z-index: 1;
  }
  .generate-otp-parent-signIn {
    position: absolute;
    top: 0;
    left: 1.375rem;
    width: 11.313rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .icon1-signIn{
    position: absolute;
    top: 0.369rem;
    left: 0.375rem;
    width: 1rem;
    height: 0.931rem;
    z-index: 1;
  }
  .icon-group-signIn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .icon-parent-signIn {
    height: 1.675rem;
    width: 1.75rem;
    position: relative;
  }
  .frame-wrapper18-signIn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent43-signIn {
    height: 2.169rem;
    flex: 1;
    position: relative;
    min-width: 8.25rem;
  }
  .ive-password-signIn{
    height: 2.169rem;
    flex: 1;
    position: relative;
    line-height: 1.5rem;
    display: inline-block;
    z-index: 1;
  }
  .ive-password-parent-signIn {
    position: absolute;
    top: 0;
    left: 1.375rem;
    width: 11.313rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .icon-container-signIn,
  .icon4-signIn{
    position: absolute;
    top: 0;
    left: 0;
  }
  .icon-container-signIn {
    width: 1.75rem;
    height: 1.675rem;
  }
  .frame-parent44-signIn {
    height: 2.169rem;
    flex: 1;
    position: relative;
    min-width: 8.25rem;
  }
  .frame-parent42-signIn,
  .frame-wrapper17-signIn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent42-signIn {
    flex: 1;
    justify-content: flex-start;
    gap: 2.312rem;
  }
  .frame-wrapper17-signIn {
    width: 28.063rem;
    justify-content: flex-end;
    padding: 0 0.187rem;
    box-sizing: border-box;
    color: #2f2f2f;
  }
  .enter-otp-here-container-signIn {
    position: relative;
    line-height: 130%;
    z-index: 1;
  }
  .enter-otp-here-parent-signIn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-child63-signIn,
  .frame-child64-signIn,
  .frame-child65-signIn,
  .frame-child66-signIn {
    height: 6.506rem;
    position: relative;
    box-shadow: 0 1px 5.9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
  }
  .frame-child63-signIn,
  .frame-child64-signIn,
  .frame-child65-signIn {
    flex: 1;
    min-width: 5.25rem;
    max-width: 5.688rem;
    text-align: center;
    font-size: xx-large;
  }
  .frame-child66-signIn {
    align-self: stretch;
    text-align: center;
    font-size: xx-large;
  }
  .rectangle-wrapper2-signIn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 0.125rem;
    box-sizing: border-box;
    min-width: 5.25rem;
    max-width: 5.688rem;
  }
  .frame-wrapper20-signIn,
  .rectangle-parent44-signIn {
    flex-direction: row;
    justify-content: flex-start;
  }
  .rectangle-parent44-signIn {
    flex: 1;
    display: flex;
    align-items: flex-end;
    gap: 0.643rem;
    max-width: 100%;
  }
  .frame-wrapper20-signIn {
    align-self: stretch;
    padding: 0 0 0 1.125rem;
    box-sizing: border-box;
  }
  .frame-parent45-signIn,
  .frame-wrapper19-signIn,
  .frame-wrapper20-signIn {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent45-signIn {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.668rem;
  }
  .frame-wrapper19-signIn {
    width: 30.313rem;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0.75rem;
    box-sizing: border-box;
    text-align: left;
    color: #000;
  }
  .email-phone-reqd-parent-signIn {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.487rem;
    max-width: 100%;
    font-size: 1.25rem;
    color: rgba(110, 110, 110, 0.7);
  }
  .frame-child67-signIn {
    height: 4.275rem;
    width: 20.063rem;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    background-color: #b7e08a;
    display: none;
    max-width: 100%;
  }
  .log-in7-signIn {
    position: relative;
    font-size: 1.938rem;
    line-height: 130%;
    font-family: Sora;
    color: #111;
    text-align: left;
    display: inline-block;
    min-width: 6.063rem;
    z-index: 2;
  }
  .rectangle-parent45-signIn {
    cursor: pointer;
    border: 0;
    padding: 0.993rem 1.25rem 0.8rem;
    background-color: #b7e08a;
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
  }
  .frame-wrapper21-signIn,
  .group-div-signIn,
  .rectangle-parent45-signIn {
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
  }
  .frame-wrapper21-signIn {
    width: 29.813rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 4.875rem;
  }
  .group-div-signIn {
    align-self: stretch;
    box-shadow: 0 0 12.6px -10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    background-color: #fff;
    border: 5px solid #cfeca8;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3.562rem 1.5rem 0.937rem 1.187rem;
    gap: 4.587rem;
    flex-shrink: 0;
    debug_commit: 1de1738;
    text-align: center;
    font-size: 3rem;
    color: #000;
    font-family: Sora;
  }
  .parentClass-signIn{
    display: flex;
    flex-direction: row;
    gap: 21px;
  }
  .rectangle-parent34-signIn {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 29.188rem;
    height: 4.275rem;
    z-index: 1;
    padding: 33px;
    border-radius: 10px;
    margin-left: -65px;
  }
  .checkbox-signIn{
    height: 30px;
    width: 30px;
    margin-top: 20px;
  }
  .ellipse-parent-signIn{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
  .frame-child47-signIn,
  .frame-child48-signIn,
  .frame-child49-signIn,
  .frame-child50-signIn,
  .frame-child51-signIn{
    height: 13px;
    width: 13px;
    position: relative;
    border-radius: 50%;
    background-color: #111;
    z-index: 2;
  }
  .frame-child46-signIn{
  box-sizing: border-box;
  max-width: 100%;
}
  @media screen and (max-width: 850px) {
    .log-in6-signIn {
      font-size: 2.375rem;
      line-height: 1.188rem;
    }
    .frame-parent42-signIn,
    .rectangle-parent44-signIn {
      flex-wrap: wrap;
    }
    .frame-wrapper21-signIn {
      padding-left: 2.438rem;
      padding-right: 2.438rem;
      box-sizing: border-box;
    }
    .group-div-signIn {
      gap: 2.313rem;
      padding-top: 2.313rem;
      padding-right: 1.75rem;
      padding-bottom: 1.25rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .log-in6-signIn {
      font-size: 1.813rem;
      line-height: 0.875rem;
    }
    .email-phone-required-signIn{
      font-size: 1.188rem;
      line-height: 1.188rem;
    }
    .continue-signIn {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
    .continue-btn-signIn {
      padding-left: 2.188rem;
      padding-right: 2.188rem;
      box-sizing: border-box;
    }
    .generate-otp-signIn,
    .generate-otp1-signIn,
    .ive-password-signIn{
      font-size: 1rem;
      line-height: 1.188rem;
    }
    .frame-parent42-signIn {
      gap: 1.125rem;
    }
    .enter-otp-here-container-signIn{
      font-size: 1rem;
      line-height: 1.313rem;
    }
    .group-div-signIn {
      gap: 1.125rem;
      padding-top: 1.5rem;
      box-sizing: border-box;
    }
  }
  
@media screen and (max-width: 1525px) {
  .desktop-7-child-signIn {
    flex: 1;
  }
  .email-field1-signIn {
    min-width: 100%;
  }
  .desktop-7-signIn {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .desktop-7-signIn {
    gap: 5.688rem;
    padding-left: 25rem;
    padding-right: 3.5rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .desktop-7-child-signIn {
    padding-top: 16.188rem;
    box-sizing: border-box;
  }
  .ayestate6-signIn {
    font-size: 2.5rem;
    line-height: 3.875rem;
  }
  .email-field1-signIn {
    gap: 1.938rem;
  }
  .desktop-7-signIn {
    gap: 2.813rem;
    padding-left: 12.5rem;
    padding-right: 1.75rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ayestate6-signIn {
    font-size: 1.5rem;
    line-height: 2.625rem;
  }
  .email-field1-signIn {
    gap: 1rem;
  }
}
