.title7-aboutFrame {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 1.75rem;
  }
  .facebook-logowine-icon-aboutFrame,
  .netflix-logowine-icon-aboutFrame {
    height: 8.125rem;
    width: 12.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 8.125rem;
  }
  .amazon-company-logowine-icon-aboutFrame {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .amazon-company-logowine-wrapper-aboutFrame {
    height: 8.125rem;
    width: 13.944rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1.443rem 0 0;
    box-sizing: border-box;
  }
  .g7433-icon-aboutFrame{
    align-self: stretch;
    position: relative;
  }
  .frame-wrapper1-aboutFrame,
  .g7433-parent-aboutFrame{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .google-logowine-1-icon-aboutFrame {
    height: 8.125rem;
    width: 12.469rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 8.125rem;
  }
  .facebook-logowine-parent-aboutFrame,
  .title-parent-aboutFrame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3.125rem;
  }
  .title-parent-aboutFrame {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    text-align: center;
    font-size: 1.125rem;
    color: #c7c1ea;
    font-family: Sora;
  }
  @media screen and (max-width: 1350px) {
    .facebook-logowine-parent-aboutFrame {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 800px) {
    .facebook-logowine-parent-aboutFrame {
      gap: 1.563rem;
    }
  }
  