.frame-child74 {
    width: 1380px;
    height: 2016px;
    position: relative;
    box-shadow: 0-1px 11.3px -2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
    display: none;
    max-width: 100%;
  }
  .pitch-membership-offerings1,
  .subscription4 {
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .subscription4 {
    margin: 0;
    width: 577px;
    font-size: inherit;
    line-height: 130%;
    font-weight: 400;
    font-family: inherit;
  }
  .pitch-membership-offerings1 {
    flex: 1;
    line-height: 30px;
  }
  .pitch-membership {
    width: 773px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 27px;
    color: #afafaf;
  }
  .frame-child75,
  .frame-child76,
  .group-main {
    border-radius: 10px;
    background-color: #fff;
    max-width: 100%;
  }
  .group-main {
    align-self: stretch;
    background-color: white;
    box-shadow: 0 -1px 11.3px -2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 76px 64px 1815px;
    box-sizing: border-box;
    gap: 17px;
    text-align: center;
    font-size: 60px;
    color: #000;
    font-family: Sora;
    z-index: 1;
  }
  .frame-child75 {
    width: 1298px;
    height: 1636px;
    position: relative;
    box-shadow: 0 1px 20.6px -4px rgba(0, 0, 0, 0.25);
    display: none;
  }
  .group-icon8{
    align-self: stretch;
    flex: 1;
    z-index: 1;
  }
  .frame-parent46{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .billed-2450-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent47{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-wrapper29{
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child79{
    box-shadow: 0 0 4.8px 2px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
  }
  .frame-child80{
    box-shadow: 0 0 4.8px 2px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
  }
  .frame-parent48{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent45{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .frame-child81,
  .frame-wrapper28{
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child82,
  .rectangle-textarea {
    height: 112px;
    position: relative;
    box-shadow: 1px 0 9.4px -32px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #fff;
    border: 3px solid #d5d5d5;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-textarea {
    width: 435px;
    outline: 0;
    padding: 42px;
    min-width: 435px;
  }
  .frame-child82 {
    flex: 1;
    min-width: 390px;
    padding: 21px;
    font-size: 36px;
  }
  .vector-icon10 {
    width: 55px;
    height: 55px;
    position: relative;
  }
  .vector-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 27px 0 0;
  }
  .rectangle-parent73,
  .rectangle-parent74 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .rectangle-parent74 {
    flex: 1;
    justify-content: flex-start;
    gap: 33px;
    min-width: 447px;
  }
  .rectangle-parent73 {
    align-self: stretch;
    justify-content: center;
    gap: 78px;
  }
  .frame-child83,
  .frame-child84 {
    height: 112px;
    position: relative;
    box-shadow: 1px 0 9.4px -32px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #fff;
    border: 3px solid #d5d5d5;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child83 {
    width: 435px;
    outline: 0;
    min-width: 435px;
    padding: 42px;
  }
  .frame-child84 {
    flex: 1;
    min-width: 390px;
    padding: 21px;
    font-size: 36px;
  }
  .vector-icon11 {
    width: 55px;
    height: 55px;
    position: relative;
  }
  .vector-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px 0 0;
  }
  .rectangle-parent75,
  .rectangle-parent76 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .rectangle-parent76 {
    flex: 1;
    justify-content: flex-start;
    gap: 33px;
    min-width: 447px;
  }
  .rectangle-parent75 {
    align-self: stretch;
    justify-content: center;
    gap: 78px;
  }
  .frame-child85,
  .frame-child86 {
    height: 112px;
    position: relative;
    box-shadow: 1px 0 9.4px -32px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #fff;
    border: 3px solid #d5d5d5;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child85 {
    width: 435px;
    outline: 0;
    min-width: 435px;
    padding: 42px;
  }
  .frame-child86 {
    flex: 1;
    min-width: 390px;
    padding: 21px;
    font-size: 36px;
  }
  .vector-icon12 {
    width: 55px;
    height: 55px;
    position: relative;
  }
  .vector-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px 0 0;
  }
  .rectangle-parent77,
  .rectangle-parent78 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .rectangle-parent78 {
    flex: 1;
    justify-content: flex-start;
    gap: 33px;
    min-width: 447px;
  }
  .rectangle-parent77 {
    align-self: stretch;
    justify-content: center;
    gap: 78px;
  }
  .frame-child87,
  .frame-child88 {
    border: 3px solid #d5d5d5;
    outline: 0;
    background-color: #fff;
    height: 112px;
    position: relative;
    box-shadow: 1px 0 9.4px -32px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child87 {
    width: 435px;
    outline: 0;
    min-width: 435px;
    padding: 42px;
  }
  .frame-child88 {
    flex: 1;
    min-width: 390px;
    padding: 21px;
    font-size: 36px;
  }
  .rectangle-parent79 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 78px;
    min-width: 723px;
    max-width: 100%;
  }
  .vector-icon13 {
    width: 55px;
    height: 55px;
    position: relative;
  }
  .vector-wrapper5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 27px 0 0;
  }
  .frame-parent49,
  .frame-parent50,
  .frame-parent51 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent51 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px;
  }
  .frame-parent49,
  .frame-parent50 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-parent50 {
    gap: 48px;
    z-index: 1;
  }
  .frame-parent49 {
    gap: 50px;
  }
  .frame-child89 {
    height: 33.8px;
    width: 33.8px;
    position: relative;
    z-index: 1;
  }
  .add-more-benefit {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    font-family: Sora;
    color: #009fff;
    text-align: center;
    z-index: 1;
  }
  .add-benefit {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0 0;
    box-sizing: border-box;
    min-width: 147px;
  }
  .frame-parent52 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16.6px;
  }
  .frame-parent44,
  .frame-parent52 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent44 {
    align-self: stretch;
    flex-direction: column;
    gap: 66.5px;
    max-width: 100%;
  }
  .rectangle-parent67,
  .subscription-inner {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent67 {
    width: 1298px;
    box-shadow: 0 1px 20.6px -4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    padding: 59px 39px 79px 58px;
    gap: 92.2px;
    z-index: 2;
  }
  .subscription-inner {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 36px;
    margin-top: -1749px;
  }
  .subscription3 {
    margin-left: 7rem;
    width: 1380px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 2016px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-family: Sora;
  }
  .rectangle-parent117 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    box-shadow: 0-1px 5.3px -1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color: #b7e08a;
    font-family: 'Sora';
    font-size: 23px;
    padding: 14px 27px 15px;
  }
  @media screen and (max-width: 1200px) {
    .group-main {
      padding-top: 49px;
      padding-bottom: 1180px;
      box-sizing: border-box;
    }
    .rectangle-textarea {
      flex: 1;
    }
    .rectangle-parent73 {
      flex-wrap: wrap;
    }
    .frame-child83 {
      flex: 1;
    }
    .rectangle-parent75 {
      flex-wrap: wrap;
    }
    .frame-child85 {
      flex: 1;
    }
    .rectangle-parent77 {
      flex-wrap: wrap;
    }
    .rectangle-parent79 {
      gap: 39px;
    }
    .rectangle-parent67 {
      padding-left: 29px;
      padding-top: 1769px;
      padding-bottom: 51px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .subscription4 {
      font-size: 48px;
      line-height: 62px;
    }
    .group-main {
      padding: 32px 32px 767px;
      box-sizing: border-box;
    }
    .frame-child87 {
      flex: 1;
    }
    .rectangle-parent79 {
      flex-wrap: wrap;
      min-width: 100%;
    }
    .rectangle-parent67 {
      padding-bottom: 33px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-child82,
    .rectangle-textarea {
      min-width: 100%;
    }
    .rectangle-parent74 {
      flex-wrap: wrap;
      gap: 16px;
      min-width: 100%;
    }
    .rectangle-parent73 {
      gap: 39px;
    }
    .frame-child83,
    .frame-child84 {
      min-width: 100%;
    }
    .rectangle-parent76 {
      flex-wrap: wrap;
      gap: 16px;
      min-width: 100%;
    }
    .rectangle-parent75 {
      gap: 39px;
    }
    .frame-child85,
    .frame-child86 {
      min-width: 100%;
    }
    .rectangle-parent78 {
      flex-wrap: wrap;
      gap: 16px;
      min-width: 100%;
    }
    .rectangle-parent77 {
      gap: 39px;
    }
    .frame-child87 {
      min-width: 100%;
    }
    .rectangle-parent79 {
      gap: 19px;
    }
    .frame-parent51 {
      gap: 16px;
    }
    .frame-parent50 {
      gap: 24px;
    }
    .frame-parent49 {
      gap: 25px;
    }
    .frame-parent44 {
      gap: 33px;
    }
    .rectangle-parent67 {
      gap: 46px;
    }
  }
  @media screen and (max-width: 450px) {
    .subscription4 {
      font-size: 36px;
      line-height: 47px;
    }
    .pitch-membership-offerings1 {
      font-size: 22px;
      line-height: 24px;
    }
    .group-main {
      padding-top: 21px;
      padding-bottom: 499px;
      box-sizing: border-box;
    }
    .free{
      font-size: 19px;
      line-height: 25px;
    }
    .rectangle-parent73,
    .rectangle-parent75,
    .rectangle-parent77 {
      gap: 19px;
    }
    .add-more-benefit {
      font-size: 19px;
      line-height: 19px;
    }
    .frame-parent44 {
      gap: 17px;
    }
    .rectangle-parent67 {
      gap: 23px;
      padding-bottom: 21px;
      box-sizing: border-box;
    }
  }