.frame-child100 {
    height: 4.188rem;
    width: 13.125rem;
    position: relative;
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    display: none;
  }
  .pending {
    height: 2.188rem;
    width: 8.688rem;
    position: relative;
    line-height: 1.5rem;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child101,
  .rectangle-parent61 {
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
  }
  .rectangle-parent61 {
    width: 11.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1.125rem 1.812rem 0.875rem;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
    height: 4rem;
  }
  .rectangle-parent61:hover{
    background-color: #B7E08A;
  }
  .frame-child101 {
    height: 4.188rem;
    width: 12rem;
    position: relative;
    display: none;
  }
  .active {
    width: 6.5rem;
    position: relative;
    line-height: 1.5rem;
    font-weight: 300;
    white-space: pre-wrap;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child102,
  .rectangle-parent62 {
    width: 12rem;
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
  }
  .rectangle-parent62 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1.125rem 2.062rem 1.562rem;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
  }
  .rectangle-parent62:hover{
    background-color: #B7E08A;
  }
  .frame-child102 {
    height: 4.188rem;
    position: relative;
    display: none;
  }
  .reject {
    height: 2.188rem;
    width: 7rem;
    position: relative;
    line-height: 1.5rem;
    font-weight: 300;
    white-space: pre-wrap;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent69,
  .rectangle-parent63 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangle-parent63 {
    width: 11.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1.125rem 1.812rem 0.875rem;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
    height: 4rem;
  }
.rectangle-parent63:hover{
    background-color: #B7E08A;
}
  .frame-parent69 {
    flex: 1;
    justify-content: flex-start;
    gap: 1.687rem;
    max-width: 100%;
    text-align: left;
    font-size: 1.75rem;
    color: #000;
    font-family: Sora;
  }
  