.wrapper-group-1000002992 {
    width: 76px;
    height: 76px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .package-child,
  .package-inner,
  .wrapper-group-1000002992-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .wrapper-group-1000002992-wrapper {
    height: 487px;
    padding: 411px 0 0;
  }
  .package-child,
  .package-inner {
    width: 460px;
    padding: 5px 0 0;
    max-width: 100%;
  }
  .package-child {
    width: 461px;
    padding: 3px 0 0;
  }
  .frame-child117,
  .frame-child118 {
    align-self: stretch;
    height: 852px;
    position: relative;
    box-shadow: 0 1px 14.7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: #f6f6f6;
    display: none;
  }
  .frame-child118 {
    height: 296px;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
  .frame-child119 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
  }
  .discont4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 14px;
    font-family: Sora;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 22px;
    z-index: 2;
  }
  .vector-parent1 {
    height: 22px;
    width: 127px;
    position: relative;
    flex-shrink: 0;
    debug_commit: bf4bc93;
  }
  .frame-wrapper36 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .group-icon16,
  .wrapper-group3 {
    flex: 1;
    flex-shrink: 0;
    debug_commit: bf4bc93;
    z-index: 1;
  }
  .group-icon16 {
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 4px;
    height: 100%;
    transform: scale(1.471);
  }
  .wrapper-group3 {
    width: 114px;
    position: relative;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-parent65 {
    width: 280px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7.6px;
  }
  .gold-packages {
    flex: 1;
    position: relative;
    font-size: 38px;
    line-height: 40px;
    font-weight: 600;
    font-family: Sora;
    color: #000;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .gold-packages-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 2px 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .span2 {
    color: #b7e08a;
  }
  .span1 {
    font-size: 40px;
  }
  .span,
  .span1,
  .span4 {
    white-space: pre-wrap;
  }
  .span {
    font-weight: 600;
    font-family: Sora;
  }
  .span4 {
    font-size: 40px;
  }
  .span3,
  .span5 {
    font-weight: 600;
    white-space: pre-wrap;
  }
  .listing6,
  .span3,
  .span5 {
    font-family: Sora;
  }
  .listing5 {
    font-size: 24px;
  }
  .listing4 {
    color: #000;
  }
  .listing3 {
    flex: 1;
    position: relative;
    line-height: 43px;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .frame-child120 {
    height: 8px;
    width: 75.1px;
    position: absolute;
    margin: 0 !important;
    bottom: 8px;
    left: 138px;
    object-fit: contain;
    z-index: 2;
  }
  .frame-wrapper37,
  .listing-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .listing-parent {
    flex: 1;
    justify-content: flex-start;
    position: relative;
  }
  .frame-wrapper37 {
    width: 447px;
    justify-content: flex-end;
    padding: 0 37px;
    box-sizing: border-box;
  }
  .rectangle-parent108,
  .rectangle-parent109 {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent109 {
    align-self: stretch;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 15px 0 59px;
    gap: 27.5px;
    z-index: 1;
  }
  .rectangle-parent108 {
    width: 461px;
    box-shadow: 0 1px 14.7px 1px rgba(0, 0, 0, 0.25);
    background-color: #f6f6f6;
    padding: 0 0 23px;
    gap: 35px;
  }
  .frame-child121 {
    width: 76px;
    height: 76px;
    position: relative;
    object-fit: contain;
  }
  .package,
  .package-inner1 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .package-inner1 {
    height: 487px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 411px 0 0;
  }
  .package {
    margin: 0;
    border-radius: 25px;
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    padding: 101px 38px 122px;
    gap: 75px;
    line-height: normal;
    letter-spacing: normal;
  }
  /* group 1 */
  .frame-child197,
.free-package-benefits-child {
  align-self: stretch;
  height: 852px;
  position: relative;
  box-shadow: 0 1px 14.7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background-color: #f6f6f6;
  display: none;
}
.free-package-benefits-child {
  height: 296px;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.frame-child198 {
  height: 75.7px;
  width: 143.3px;
  position: relative;
  z-index: 2;
}
.frame-wrapper67 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 22px;
}
.free-packages {
  align-self: stretch;
  height: 40px;
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-parent119 {
  width: 448px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 17.3px;
  max-width: 100%;
}
.free7,
.span10 {
  font-weight: 600;
}
.listing7 {
  color: #000;
  font-size: 24px;
}
.free-3-container2 {
  width: 398.6px;
  position: relative;
  line-height: 43px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.free-3-listing-wrapper,
.free-package-benefits {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.free-3-listing-wrapper {
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  font-size: 40px;
  color: #b7e08a;
}
.free-package-benefits {
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27px 0 61px;
  box-sizing: border-box;
  gap: 32px;
  z-index: 1;
}
.checkmark-circle-2-icon {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.checkmark-circle-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 8px 0 0;
}
.fi-2693507-icon5 {
  height: 34.7px;
  width: 39.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.days-plan-validity5 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.days-plan-validity-frame,
.frame-parent122 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.days-plan-validity-frame {
  flex: 1;
  flex-direction: column;
  padding: 6px 0 0;
}
.frame-parent122 {
  width: 303px;
  flex-direction: row;
  gap: 26.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.checkmark-circle-2-icon1 {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.checkmark-circle-2-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 10px 0 0;
}
.fi-2668384-icon1,
.top-slot-listing6 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.fi-2668384-icon1 {
  height: 40.1px;
  width: 42.7px;
  overflow: hidden;
}
.top-slot-listing6 {
  align-self: stretch;
  height: 27px;
  display: inline-block;
}
.top-slot-listing-for-5x-more-v-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 10px 0 0;
  box-sizing: border-box;
  min-width: 185px;
}
.frame-parent121,
.frame-parent123,
.top-slot-listing-for-5x-more-v-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent123 {
  align-self: stretch;
  flex-direction: row;
  gap: 23.8px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  color: rgba(0, 0, 0, 0.3);
}
.frame-parent121 {
  width: 410px;
  height: 131px;
  flex-direction: column;
  padding: 0 0 93.4px;
  box-sizing: border-box;
  gap: 53.3px;
  max-width: 100%;
}
.checkmark-circle-2-icon2 {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.checkmark-circle-2-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 11px 0 0;
}
.fi-2889676-icon1,
.privacy-of-your6 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.fi-2889676-icon1 {
  height: 35.8px;
  width: 36.4px;
  overflow: hidden;
  min-height: 36px;
}
.privacy-of-your6 {
  height: 27px;
  display: inline-block;
}
.privacy-of-your-phone-number-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0 0;
}
.frame-parent124,
.frame-wrapper69 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent124 {
  gap: 26px;
}
.frame-wrapper69 {
  align-self: stretch;
  padding: 0 11px 5.2px;
  box-sizing: border-box;
}
.checkmark-circle-2-icon3 {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.checkmark-circle-2-wrapper1 {
  width: 37.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 12px 0 0;
  box-sizing: border-box;
}
.fi-870073-icon1 {
  height: 33.6px;
  width: 35.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 34px;
  z-index: 1;
}
.relationship-manager-fast {
  height: 25px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.relationship-manager-fast-clos-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 0;
  box-sizing: border-box;
  min-width: 174px;
}
.frame-parent125,
.frame-wrapper70 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent125 {
  flex: 1;
  justify-content: flex-start;
  gap: 25.9px;
}
.frame-wrapper70 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 17px 0 11px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.3);
}
.checkmark-circle-2-icon4 {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.checkmark-circle-2-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 13px 0 0;
}
.fi-1239608-icon1 {
  height: 38px;
  width: 39px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.personal-field-assistant6 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.personal-field-assistant-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 0 0;
  box-sizing: border-box;
  min-width: 125px;
}
.frame-parent127,
.frame-wrapper71 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent127 {
  flex: 1;
  gap: 24px;
}
.frame-wrapper71 {
  width: 339px;
  padding: 0 11px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child199 {
  align-self: stretch;
  width: 421px;
  position: relative;
  border-radius: 13px;
  background-color: #b7e08a;
  display: none;
  max-width: 100%;
}
.get-started1,
.rectangle-parent158 {
  display: flex;
  max-width: 100%;
  z-index: 1;
}
.get-started1 {
  margin: 0;
  height: 62px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  justify-content: center;
}
.rectangle-parent158 {
  align-self: stretch;
  border-radius: 13px;
  background-color: #b7e08a;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  text-align: center;
  font-size: 25px;
}
.frame-parent120,
.frame-parent126 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent126 {
  align-self: stretch;
  align-items: flex-start;
  gap: 39px;
}
.frame-parent120 {
  flex: 1;
  align-items: flex-end;
  gap: 51px;
}
.frame-wrapper68,
.rectangle-parent157 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 16px 0 23px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 15px;
}
.rectangle-parent157 {
  box-shadow: 0 1px 14.7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background-color: #f6f6f6;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 23px;
  gap: 35px;
  text-align: center;
  font-size: 38px;
  color: #000;
  font-family: Sora;
}
@media screen and (max-width: 925px) {
  .free-packages {
    font-size: 30px;
    line-height: 40px;
  }
  .frame-parent124 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .free-packages {
    font-size: 23px;
    line-height: 30px;
  }
  .free-3-container2 {
    font-size: 19px;
    line-height: 42px;
  }
  .free-package-benefits {
    gap: 16px;
  }
  .frame-parent123 {
    flex-wrap: wrap;
  }
  .frame-parent121 {
    height: 131px;
    gap: 27px;
  }
  .frame-parent125,
  .frame-parent127 {
    flex-wrap: wrap;
  }
  .frame-parent126 {
    gap: 19px;
  }
  .frame-parent120 {
    gap: 25px;
  }
  .rectangle-parent157 {
    gap: 17px;
  }
}

  /* group 1 over */
  /* group 2 start */
  .frame-child201,
.silver-package-header-child {
  position: relative;
  border-radius: 16px;
  display: none;
}
.frame-child201 {
  align-self: stretch;
  height: 852px;
  box-shadow: 0 1px 14.7px 1px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
}
.silver-package-header-child {
  width: 460px;
  height: 296px;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  max-width: 100%;
}
.group-icon18 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.group-wrapper20 {
  align-self: stretch;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20.6px 0 0;
  box-sizing: border-box;
}
.frame-child202 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}
.discont6 {
  position: absolute;
  top: 0;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 22px;
  z-index: 3;
}
.vector-parent3 {
  height: 22px;
  width: 127px;
  position: relative;
}
.frame-parent140 {
  width: 290px;
  height: 81px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.silver-packages {
  width: 459px;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 113%;
  z-index: 2;
}
.silver-packages-wrapper {
  width: 412px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 38px;
}
.span12 {
  white-space: pre-wrap;
}
.span11 {
  font-weight: 600;
}
.span11,
.span13,
.span14,
.span15 {
  white-space: pre-wrap;
}
.span13,
.span15 {
  font-weight: 600;
}
.listing9 {
  color: #000;
  font-size: 24px;
}
.listing8 {
  flex: 1;
  position: relative;
  line-height: 43px;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.frame-child203 {
  height: 8px;
  width: 75.1px;
  position: absolute;
  margin: 0 !important;
  bottom: 8px;
  left: 138px;
  object-fit: contain;
  z-index: 3;
}
.listing-group,
.silver-package-header-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.listing-group {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.silver-package-header-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 37px;
  box-sizing: border-box;
  text-align: left;
  font-size: 40px;
  color: #b7e08a;
}
.rectangle-parent160,
.silver-package-header {
  align-self: stretch;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.silver-package-header {
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 15px 0 59px 13px;
  gap: 29px;
  z-index: 1;
}
.rectangle-parent160 {
  box-shadow: 0 1px 14.7px 1px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
  padding: 0 0 23px;
  gap: 35px;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Sora;
}
.checkmark-circle-2-icon5 {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
  }
  .checkmark-circle-2-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 8px 0 0;
  }
  .fi-2693507-icon6 {
    height: 34.7px;
    width: 39.6px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .days-plan-validity6 {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .days-plan-validity-wrapper1,
  .frame-parent130 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .days-plan-validity-wrapper1 {
    flex: 1;
    flex-direction: column;
    padding: 6px 0 0;
  }
  .frame-parent130 {
    width: 303px;
    flex-direction: row;
    gap: 26.9px;
    flex-shrink: 0;
    debug_commit: bf4bc93;
  }
  .checkmark-circle-2-icon6 {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
  }
  .checkmark-circle-2-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7px 0 0;
  }
  .fi-2668384-icon2 {
    height: 40.1px;
    width: 42.7px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent132 {
    width: 102.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .top-slot-listing7 {
    align-self: stretch;
    height: 27px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .top-slot-listing-for-5x-more-v-container {
    flex: 1;
    flex-direction: column;
    padding: 10px 0 0;
    box-sizing: border-box;
    min-width: 185px;
  }
  .frame-parent129,
  .frame-parent131,
  .top-slot-listing-for-5x-more-v-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent131 {
    align-self: stretch;
    flex-direction: row;
    gap: 23.8px;
    flex-shrink: 0;
    debug_commit: bf4bc93;
    color: rgba(0, 0, 0, 0.3);
  }
  .frame-parent129 {
    width: 410px;
    height: 128.1px;
    flex-direction: column;
    padding: 0 0 93.4px;
    box-sizing: border-box;
    gap: 53.3px;
    max-width: 100%;
  }
  .checkmark-circle-2-icon7 {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
  }
  .checkmark-circle-2-wrapper5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0 0;
  }
  .fi-2889676-icon2 {
    height: 35.8px;
    width: 36.4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent134 {
    width: 99px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .privacy-of-your7 {
    height: 27px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .privacy-of-your-phone-number-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0 0;
  }
  .frame-parent133,
  .frame-wrapper73 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent133 {
    gap: 26px;
  }
  .frame-wrapper73 {
    align-self: stretch;
    padding: 0 11px;
    box-sizing: border-box;
  }
  .checkmark-circle-2-icon8 {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
  }
  .checkmark-circle-2-wrapper6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 0 0;
  }
  .fi-870073-icon2 {
    height: 33.6px;
    width: 35.4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent137 {
    width: 99.1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .relationship-manager-fast1 {
    height: 25px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .relationship-manager-fast-clos-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9px 0 0;
    box-sizing: border-box;
    min-width: 174px;
  }
  .frame-parent136,
  .frame-wrapper74 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent136 {
    flex: 1;
    gap: 25.9px;
  }
  .frame-wrapper74 {
    align-self: stretch;
    padding: 0 17px 0 11px;
    box-sizing: border-box;
  }
  .checkmark-circle-2-icon9 {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
  }
  .checkmark-circle-2-wrapper7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7px 13px 0 0;
  }
  .fi-1239608-icon2 {
    height: 38px;
    width: 39px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .personal-field-assistant7 {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .personal-field-assistant-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11px 0 0;
    box-sizing: border-box;
    min-width: 125px;
  }
  .frame-parent139,
  .frame-wrapper75 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent139 {
    flex: 1;
    gap: 24px;
  }
  .frame-wrapper75 {
    width: 339px;
    padding: 0 11px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child200,
  .get-started2 {
    position: relative;
    max-width: 100%;
  }
  .frame-child200 {
    align-self: stretch;
    width: 421px;
    border-radius: 13px;
    background-color: #b7e08a;
    display: none;
  }
  .get-started2 {
    margin: 0;
    height: 62px;
    flex: 1;
    font-size: inherit;
    line-height: 130%;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .frame-parent138,
  .rectangle-parent159 {
    align-self: stretch;
    align-items: flex-start;
  }
  .rectangle-parent159 {
    border-radius: 13px;
    background-color: #b7e08a;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
    max-width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 25px;
  }
  .frame-parent138 {
    gap: 39px;
  }
  .frame-parent128,
  .frame-parent135,
  .frame-parent138 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent135 {
    align-self: stretch;
    align-items: flex-start;
    gap: 51px;
  }
  .frame-parent128 {
    flex: 1;
    align-items: flex-end;
    gap: 55.1px;
  }
  .frame-wrapper72 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 16px 0 24px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 15px;
    color: #000;
    font-family: Sora;
  }
  @media screen and (max-width: 925px) {
    .frame-parent133 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 450px) {
    .frame-parent131 {
      flex-wrap: wrap;
    }
    .frame-parent129 {
      height: auto;
      gap: 27px;
    }
    .frame-parent136,
    .frame-parent139 {
      flex-wrap: wrap;
    }
    .frame-parent138 {
      gap: 19px;
    }
    .frame-parent135 {
      gap: 25px;
    }
    .frame-parent128 {
      gap: 28px;
    }
  }
  
@media screen and (max-width: 925px) {
  .silver-packages {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 450px) {
  .silver-packages {
    font-size: 23px;
    line-height: 30px;
  }
  .listing8 {
    font-size: 19px;
    line-height: 42px;
  }
  .rectangle-parent160 {
    gap: 17px;
  }
}

  /* group 2 over */


  @media screen and (max-width: 1825px) {
    .package {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1350px) {
    .package {
      gap: 37px;
    }
  }
  @media screen and (max-width: 925px) {
    .wrapper-group-1000002992-wrapper {
      padding-top: 267px;
      box-sizing: border-box;
    }
    .gold-packages {
      font-size: 30px;
      line-height: 40px;
    }
    .package-inner1 {
      padding-top: 267px;
      box-sizing: border-box;
    }
    .package {
      gap: 19px;
    }
  }
  @media screen and (max-width: 450px) {
    .gold-packages {
      font-size: 23px;
      line-height: 30px;
    }
    .listing3 {
      font-size: 19px;
      line-height: 42px;
    }
    .rectangle-parent108 {
      gap: 17px;
    }
  }
  