.divide-AboutFrame2,
.succesfull-project-AboutFrame2 {
  position: relative;
  letter-spacing: -0.02em;
}
.divide-AboutFrame2 {
  line-height: 2.25rem;
  display: inline-block;
  min-width: 4.75rem;
}
.succesfull-project-AboutFrame2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #534f69;
}
.merge-AboutFrame2,
.trigger-AboutFrame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.merge-AboutFrame2 {
  gap: 0.75rem;
}
.trigger-AboutFrame2 {
  flex: 1;
  min-width: 6.438rem;
}
.b-AboutFrame2,
.satisfied-client-AboutFrame2 {
  position: relative;
  letter-spacing: -0.02em;
}
.b-AboutFrame2 {
  line-height: 2.25rem;
  display: inline-block;
  min-width: 4.813rem;
}
.satisfied-client-AboutFrame2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #534f69;
}
.parent-AboutFrame2 {
  gap: 0.75rem;
}
.parent-AboutFrame2,
.trigger1-AboutFrame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.awwards-winners-AboutFrame2,
.b1-AboutFrame2 {
  position: relative;
  letter-spacing: -0.02em;
}
.b1-AboutFrame2 {
  line-height: 2.25rem;
  display: inline-block;
  min-width: 4.188rem;
}
.awwards-winners-AboutFrame2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #534f69;
}
.group-AboutFrame2 {
  flex-direction: column;
  gap: 0.75rem;
}
.delay-AboutFrame2,
.group-AboutFrame2,
.trigger2-AboutFrame2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.trigger2-AboutFrame2 {
  flex: 1;
  flex-direction: column;
  min-width: 6.438rem;
}
.delay-AboutFrame2 {
  width: 33.313rem;
  flex-direction: row;
  gap: 2.5rem;
  max-width: 100%;
}
.were-a-diverse-AboutFrame2 {
  width: 30.5rem;
  position: relative;
  font-size: 1.125rem;
  letter-spacing: -0.02em;
  line-height: 1.75rem;
  color: #534f69;
  display: inline-block;
  flex-shrink: 0;
  min-width: 30.5rem;
  max-width: 100%;
}
.error-handler-AboutFrame2,
.error-handler-wrapper-AboutFrame2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.error-handler-AboutFrame2 {
  width: 75rem;
  justify-content: space-between;
  gap: 1.25rem;
}
.error-handler-wrapper-AboutFrame2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 1.25rem 11.25rem;
  box-sizing: border-box;
  text-align: left;
  font-size: 1.75rem;
  color: #16112f;
  font-family: Sora;
}
@media screen and (max-width: 1125px) {
  .were-a-diverse-AboutFrame2 {
    flex: 1;
  }
  .error-handler-AboutFrame2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .delay-AboutFrame2 {
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  .were-a-diverse-AboutFrame2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .b-AboutFrame2,
  .b1-AboutFrame2,
  .divide-AboutFrame2 {
    font-size: 1.375rem;
    line-height: 1.813rem;
  }
}
