.home-listings-company-blog-parent-faqsMain {
    width: 77.5rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12.5rem;
    max-width: 100%;
  }
  .faqs-faqsMain,
  .faqs-inner-faqsMain,
  .home-listings-company-blog-parent-faqsMain {
    display: flex;
    align-items: flex-start;
  }
  .faqs-inner-faqsMain {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 1.25rem 5rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .faqs-faqsMain {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7.5rem;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1225px) {
    .home-listings-company-blog-parent-faqsMain {
      gap: 6.25rem;
    }
    .faqs-inner-faqsMain {
      padding-bottom: 2.125rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .home-listings-company-blog-parent-faqsMain {
      gap: 3.125rem;
    }
    .faqs-inner-faqsMain {
      padding-bottom: 1.375rem;
      box-sizing: border-box;
    }
    .faqs-faqsMain {
      gap: 3.75rem;
    }
  }
  @media screen and (max-width: 450px) {
    .home-listings-company-blog-parent-faqsMain {
      gap: 1.563rem;
    }
    .faqs-faqsMain {
      gap: 1.875rem;
    }
  }
  