.heading8-detailProperty-PortfolioHeader,
.text15-detailProperty-PortfolioHeader {
  align-self: stretch;
  position: relative;
}
.heading8-detailProperty-PortfolioHeader {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text15-detailProperty-PortfolioHeader {
  font-size: 1.125rem;
  line-height: 150%;
}
.content14-detailProperty-PortfolioHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem;
}
.tag-one-detailProperty-PortfolioHeader {
  position: relative;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 600;
  font-family: Sora;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 5rem;
}
.tag-detailProperty-PortfolioHeader {
  cursor: pointer;
  border: 0;
  padding: 0.25rem 0.5rem;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag1-detailProperty-PortfolioHeader:hover,
.tag2-detailProperty-PortfolioHeader:hover,
.tag-detailProperty-PortfolioHeader:hover {
  background-color: #d4d4d4;
}
.tag-two-detailProperty-PortfolioHeader {
  position: relative;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 600;
  font-family: Sora;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 3.563rem;
}
.tag1-detailProperty-PortfolioHeader {
  cursor: pointer;
  border: 0;
  padding: 0.25rem 0.5rem;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-three-detailProperty-PortfolioHeader {
  position: relative;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 600;
  font-family: Sora;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 4.188rem;
}
.tag2-detailProperty-PortfolioHeader {
  cursor: pointer;
  border: 0;
  padding: 0.25rem 0.5rem;
  background-color: #eee;
  flex-direction: row;
}
.column6-detailProperty-PortfolioHeader,
.tag2-detailProperty-PortfolioHeader,
.tags-detailProperty-PortfolioHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags-detailProperty-PortfolioHeader {
  align-self: stretch;
  flex-direction: row;
  padding: 0 31.25rem 0 0;
  gap: 0.5rem;
}
.column6-detailProperty-PortfolioHeader {
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 31.188rem;
  max-width: 100%;
}
.text16-detailProperty-PortfolioHeader,
.text17-detailProperty-PortfolioHeader {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text17-detailProperty-PortfolioHeader {
  font-size: 1rem;
  line-height: 150%;
}
.list-item-detailProperty-PortfolioHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  min-width: 8.75rem;
}
.style-primary-detailProperty-PortfolioHeader,
.style-secondary-detailProperty-PortfolioHeader {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.style-secondary-detailProperty-PortfolioHeader {
  font-size: 1rem;
  line-height: 150%;
}
.content15-detailProperty-PortfolioHeader,
.list-item1-detailProperty-PortfolioHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-item1-detailProperty-PortfolioHeader {
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 8.75rem;
}
.content15-detailProperty-PortfolioHeader {
  align-self: stretch;
  flex-direction: row;
  gap: 2rem;
}
.text18-detailProperty-PortfolioHeader,
.text19-detailProperty-PortfolioHeader {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text19-detailProperty-PortfolioHeader {
  font-size: 1rem;
  line-height: 150%;
}
.list-item2-detailProperty-PortfolioHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  min-width: 8.75rem;
}
.text20-detailProperty-PortfolioHeader,
.text21-detailProperty-PortfolioHeader {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text21-detailProperty-PortfolioHeader {
  font-size: 1rem;
  text-decoration: underline;
  line-height: 150%;
  white-space: nowrap;
}
.list-item3-detailProperty-PortfolioHeader {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  min-width: 8.75rem;
}
.content13-detailProperty-PortfolioHeader,
.content16-detailProperty-PortfolioHeader,
.list-detailProperty-PortfolioHeader,
.list-item3-detailProperty-PortfolioHeader {
  display: flex;
  align-items: flex-start;
}
.content16-detailProperty-PortfolioHeader {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}
.content13-detailProperty-PortfolioHeader,
.list-detailProperty-PortfolioHeader {
  max-width: 100%;
}
.list-detailProperty-PortfolioHeader {
  width: 29rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  min-width: 29rem;
  font-size: 1.25rem;
}
.content13-detailProperty-PortfolioHeader {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}
.placeholder-image-icon3-detailProperty-PortfolioHeader,
.portfolio-header-7-detailProperty-PortfolioHeader {
  align-self: stretch;
  overflow: hidden;
  max-width: 100%;
}
.placeholder-image-icon3-detailProperty-PortfolioHeader {
  position: relative;
  border-radius: 24px;
  max-height: 200%;
  object-fit: cover;
}
.portfolio-header-7-detailProperty-PortfolioHeader {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7rem 4rem;
  box-sizing: border-box;
  gap: 5rem;
  text-align: left;
  font-size: 3.5rem;
  color: #000;
  font-family: Sora;
}
@media screen and (max-width: 1225px) {
  .list-detailProperty-PortfolioHeader {
    flex: 1;
  }
  .content13-detailProperty-PortfolioHeader {
    flex-wrap: wrap;
  }
  .portfolio-header-7-detailProperty-PortfolioHeader {
    padding-top: 4.563rem;
    padding-bottom: 4.563rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .tags-detailProperty-PortfolioHeader {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .heading8-detailProperty-PortfolioHeader {
    font-size: 2.813rem;
    line-height: 3.375rem;
  }
  .tags-detailProperty-PortfolioHeader {
    padding-right: 15.625rem;
    box-sizing: border-box;
  }
  .column6-detailProperty-PortfolioHeader,
  .list-detailProperty-PortfolioHeader {
    min-width: 100%;
  }
  .content13-detailProperty-PortfolioHeader {
    gap: 2.5rem;
  }
  .portfolio-header-7-detailProperty-PortfolioHeader {
    gap: 2.5rem;
    padding: 2.938rem 2rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading8-detailProperty-PortfolioHeader {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
  .tags-detailProperty-PortfolioHeader {
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .style-primary-detailProperty-PortfolioHeader,
  .text16-detailProperty-PortfolioHeader {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .content15-detailProperty-PortfolioHeader {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .text18-detailProperty-PortfolioHeader,
  .text20-detailProperty-PortfolioHeader {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .content16-detailProperty-PortfolioHeader {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .list-detailProperty-PortfolioHeader {
    gap: 1rem;
  }
  .content13-detailProperty-PortfolioHeader,
  .portfolio-header-7-detailProperty-PortfolioHeader {
    gap: 1.25rem;
  }
}
