.frame-child27-registration,
.frame-child28-registration {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
.frame-child27-registration {
  left: -75px;
  border-radius: 50px;
  width: 1084px;
  object-fit: cover;
}
.frame-child28-registration {
  left: -49px;
  border-radius: 49px;
  width: 1058px;
  z-index: 1;
}
.frame-child29-registration,
.rectangle-parent19-registration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.rectangle-parent19-registration {
  width: 1009px;
  margin: 0 !important;
  bottom: 0;
}
.frame-child29-registration {
  border-radius: 9px;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}
.log-in4-registration {
  position: absolute;
  top: 18px;
  left: 28px;
  font-size: 30px;
  line-height: 130%;
  font-weight: 600;
  font-family: Sora;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 93px;
  z-index: 3;
}
.rectangle-parent20-registration {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 76px;
  position: relative;
  white-space: nowrap;
}
.frame-child30-registration {
  height: 76px;
  width: 228px;
  position: relative;
  border-radius: 9px;
  background-color: #fff;
  display: none;
}
.sign-up8-registration {
  position: relative;
  font-size: 30px;
  line-height: 130%;
  font-weight: 600;
  font-family: Sora;
  color: #8ccb47;
  text-align: left;
  display: inline-block;
  min-width: 117px;
  z-index: 3;
}
.rectangle-parent21-registration {
  cursor: pointer;
  border: 0;
  padding: 15px 27px 22px;
  background-color: #fff;
  flex: 1;
  border-radius: 9px;
  flex-direction: row;
  white-space: nowrap;
  z-index: 2;
}
.desktop-6-inner1-registration,
.frame-parent12-registration,
.frame-wrapper5-registration,
.rectangle-parent21-registration {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5-registration {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
}
.desktop-6-inner1-registration,
.frame-parent12-registration {
  flex-direction: column;
}
.frame-parent12-registration {
  align-self: stretch;
  gap: 11px;
  margin-left: -75px;
}
.desktop-6-inner1-registration {
  width: 229px;
  padding: 373px 0 0;
  box-sizing: border-box;
  min-width: 229px;
}
.ayestate5-registration {
  margin: 0;
  width: 409px;
  position: relative;
  font-size: 80px;
  line-height: 130%;
  font-weight: 400;
  font-family: Playball;
  color: #000;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.ayestate-wrapper2-registration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.frame-child31-registration {
  width: 597px;
  height: 788px;
  position: relative;
  box-shadow: 0 0 12.6px -10px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  background-color: #fff;
  border: 5px solid #cfeca8;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.sign-up9-registration {
  margin: 0;
  width: 220px;
  position: relative;
  font-size: 48px;
  line-height: 24px;
  font-weight: 400;
  font-family: Sora;
  color: #000;
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.frame-child32-registration,
.sign-up-container-registration {
  box-sizing: border-box;
  max-width: 100%;
}
.sign-up-container-registration {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.frame-child32-registration {
  height: 69px;
  width: 467px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  display: none;
}
.empty-space-parent-registration {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}
.frame-parent15-registration {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 17px;
}
.e-m-p-t-y-wrapper-registration {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 19px 9px 22px;
    max-width: 100%;
    width: 100%;
}
.frame-child34-registration,
.rectangle-parent23-registration {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent23-registration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 9px 8px;
}
.frame-child35-registration,
.rectangle-parent24-registration {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.rectangle-parent24-registration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 9px 22px;
  max-width: 100%;
}
.frame-parent14-registration,
.password-input-registration {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent14-registration {
  align-self: stretch;
  border-radius: 1px;
  align-items: flex-end;
  padding: 0 8px;
  box-sizing: border-box;
  gap: 34px;
  z-index: 1;
}
.password-input-registration {
  width: 483px;
  align-items: flex-start;
  gap: 60px;
}
.frame-child38-registration {
  height: 69px;
  width: 321px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  background-color: #b7e08a;
  display: none;
  max-width: 100%;
}
.sign-up10-registration {
  width: 222px;
  position: relative;
  font-size: 32px;
  line-height: 24px;
  font-family: Sora;
  color: #000;
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.frame-wrapper7-registration,
.rectangle-parent28-registration {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent28-registration {
  cursor: pointer;
  border: 0;
  padding: 21px 100px 24px;
  background-color: #b7e08a;
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent28-registration:hover {
  background-color: #85ad57;
}
.frame-wrapper7-registration {
  width: 469px;
  padding: 0 74px;
}
.rectangle-parent22-registration {
  box-shadow: 0 0 12.6px -10px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  background-color: #fff;
  border: 5px solid #cfeca8;
  box-sizing: border-box;
  flex-direction: column;
  padding: 57px 40px 34px 64px;
  gap: 51px;
}
.desktop-62-registration,
.frame-parent13-registration,
.rectangle-parent22-registration {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent13-registration {
  flex: 1;
  flex-direction: column;
  gap: 57px;
  min-width: 392px;
}
.desktop-62-registration {
  margin: 0;
  width: 1920px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 43px 112px 88px 803px;
  box-sizing: border-box;
  position: relative;
  gap: 173px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .desktop-6-inner1-registration {
    flex: 1;
  }
  .frame-parent13-registration {
    min-width: 100%;
  }
  .desktop-62-registration {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .desktop-62-registration {
    gap: 86px;
    padding-left: 401px;
    padding-right: 56px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .desktop-6-inner1-registration {
    padding-top: 242px;
    box-sizing: border-box;
  }
  .ayestate5-registration {
    font-size: 40px;
    line-height: 62px;
  }
  .sign-up9-registration {
    font-size: 38px;
    line-height: 19px;
  }
  .rectangle-parent23-registration {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent14-registration {
    gap: 17px;
  }
  .password-input-registration {
    gap: 30px;
  }
  .frame-wrapper7-registration {
    padding-left: 37px;
    padding-right: 37px;
    box-sizing: border-box;
  }
  .rectangle-parent22-registration {
    gap: 25px;
    padding-left: 32px;
    padding-top: 37px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
  .frame-parent13-registration {
    gap: 28px;
  }
  .desktop-62-registration {
    gap: 43px;
    padding-left: 200px;
    padding-right: 28px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ayestate5-registration {
    font-size: 24px;
    line-height: 42px;
  }
  .sign-up9-registration {
    font-size: 29px;
    line-height: 14px;
  }
  .e-m-p-registration{
    font-size: 19px;
  }
  .rectangle-parent23-registration {
    gap: 26px;
  }
  .company-name-required2-registration,
  .email-address-required2-registration,
  .full-name-required2-registration{
    font-size: 19px;
    line-height: 19px;
  }
  .rectangle-parent28-registration {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .rectangle-parent22-registration {
    padding-top: 24px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}